.card-action {
    $this: &;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(#fff, 0.4);
    cursor: pointer;
    transition: background-color $time-xs ease, transform $time-sm cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &#{ & }_added {
        background-color: #fff;
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.27);
        #{ $this }__icon {
            fill: $general-color !important;
            stroke: $general-color;
        }
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        fill: #fff;
        margin: auto;
        transition: fill $time-sm ease;
        &_enter {
            width: 22px;
            height: 16px;
        }
        &_favorite {
            width: 20px;
            height: 17px;
            fill: transparent !important;
            stroke: #fff;
            transition: fill $time-xs ease, stroke $time-xs ease;
        }
    }
    &:active {
        transform: scale(1.2) !important;
        transition: background-color $time-xs ease, transform 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &:hover {
        background-color: #fff;
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.27);
        #{ $this }__icon {
            fill: $general-color;
            &_favorite {
                stroke: $general-color;
            }
        }
    }
}

.card-button {
    $this: &;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border: 1px solid $general-color;
    border-radius: 0;
    background-color: $general-color;
    cursor: pointer;
    transition: background-color $time-xs ease;
    &#{ & }_replacer {
        z-index: 15;
        display: none;
        transform: translateY(-100%);
    }
    &__icon {
        width: 20px;
        height: 22px;
        fill: $general-color-primary;
        margin-right: 9px;
        filter: drop-shadow(0 2px 6px $general-color-primary);
        transition: fill $time-xs ease;
    }
    &__text {
        font: {
            weight: 700;
            size: 18px;
        }
        color: #fff;
        transition: color $time-xs ease;
    }
    &:hover {
        background-color: #fff;
        #{ $this }__icon {
            fill: $general-color;
            filter: none;
        }
        #{ $this }__text {
            color: $general-color;
        }
    }
}

.favorites-delete {
    $this: &;
    position: absolute;
    z-index: 30;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0;
    cursor: pointer;
    transition: transform $time-sm ease, background-color $time-xs ease, opacity $time-sm ease;
    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 6px;
        height: 6px;
        fill: #fff;
        margin: auto;
        transition: fill $time-xs ease;
    }
    &:hover {
        background-color: #fff;
        #{ $this }__icon {
            fill: $general-color;
        }
    }
}

.not-available {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 33px;
    font: {
        weight: 700;
        size: 16px;
    }
    color: #1C1C1C;
    border: 0;
    border-radius: 16.5px;
    background-color: rgba($general-color-primary, 0.85);
    transition: background-color $time-sm ease;
}

.favorites-restore {
    $this: &;
    position: absolute;
    z-index: 35;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $border-color;
    background-color: rgba(#fff, 0.9);
    opacity: 0;
    transition: opacity $time-xs ease;
    &__button {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        background-color: transparent;
        padding: 13px 16px;
        cursor: pointer;
        &:hover #{ $this }__icon {
            fill: $general-color;
        }
    }
    &__icon {
        display: block;
        width: 18.75px;
        height: 21.36px;
        fill: $sign-color;
        transform: rotate(130deg) scale(1, -1);
        transition: fill $time-xs ease;
    }
}

.product-card {
    $this: &;
    position: relative;
    z-index: 1;
    max-width: 270px;
    height: 375px;
    margin: 0 0 30px;

    // Обертки карточки товара
    &__body {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        color: $general-color;
        transition: box-shadow $time-sm ease;
    }
    &__content {
        flex: 1 1 auto;
        position: relative;
        z-index: 20;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        background-color: #fff;
        padding: 12px 16px;
        &::before {
            content: '';
            position: absolute;
            z-index: 25;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: 1px solid $border-color;
            transition: border-color $time-sm ease;
        }
    }
    
    // Контент карточки товара
    &__thumb {
        flex: 0 0 auto;
        position: relative;
        width: 100%;
        height: 190px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 12px;
        &::after {
            content: '';
            position: absolute;
            top: -12px;
            left: -16px;
            width: calc(100% + 32px);
            height: calc(100% + 24px);
            background-color: rgba($general-color, 0.78);
            opacity: 0;
            transition: opacity $time-sm ease;
        }
    }
    &__info {
        position: relative;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 149px;
        padding: 12px 4px 0;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 20px;
            width: 46px;
            height: 2px;
            background-color: #CECECE;
        }
    }
    &__head-info {
        max-height: 77px;
        overflow: hidden;
    }
    &__brand {
        font: {
            weight: 700;
            size: 18px;
        }
        line-height: 22px;
        color: $text-color;
        margin-bottom: 4px;
    }
    &__title {
        font: {
            weight: 400;
            size: 14px;
        }
        color: #616161;
    }
    &__price {
        display: inline;
        font: {
            weight: 700;
            size: 16px;
        }
        color: $text-color;
        margin-right: 8px;
        &:last-child {
            margin-right: 0;
        }
        &#{ & }_old {
            font-size: 14px;
            color: $sign-color;
            text-decoration: line-through;
        }
        &#{ & }_pink {
            color: $general-color;
        }

        &-text {
            font: {
                weight: 400;
                size: 14px;
            }
            color: $text-color;
            &#{ & }_pink {
                color: $general-color;
            }
        }
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0;
            margin: 5px 0;
        }
    }
    &__bottom {
        position: relative;
        z-index: 10;
        height: 50px;
        width: 100%;
        margin-top: -50px;
        transition: margin-top $time-sm ease;
    }

    // Кнопки перехода в товар и добавления в избранное
    &__shop {
        position: absolute;
        z-index: 30;
        top: 85px;
        transform: scale(0);
        transition: background-color $time-sm ease, transform $time-sm cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &__enter {
        right: calc(50% + 5px);
    }
    &__favorite {
        left: calc(50% + 5px);
    }

    .not-available {
        position: absolute;
        z-index: 30;
        top: 156px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &:hover {
        z-index: 35;
        #{ $this }__body {
            box-shadow: 0 2px 18px 0 rgba($general-color, 0.28);
        }
        #{ $this }__content::before {
            border-color: transparent;
        }
        #{ $this }__thumb::after {
            opacity: 1;
        }
        #{ $this }__shop {
            transform: scale(1);
        }
        #{ $this }__bottom {
            margin-top: 0;
        }
        .favorites-delete {
            opacity: 1;
        }
        .not-available {
            background-color: #fff;
        }
    }
}
