// Форма поиска по каталогу
.search-form {
    $this: &;
    position: relative;
    flex: 1 0 auto;
    height: 50px;
    margin: 0 25px;
    ::-webkit-input-placeholder { color: #fff; }
    ::-moz-placeholder          { color: #fff; }
    :-moz-placeholder           { color: #fff; }
    :-ms-input-placeholder      { color: #fff; }
    &__input {
        width: 100%;
        height: 100%;
        font: {
            weight: 400;
            size: 16px;
        }
        color: #fff;
        border: 0;
        border-radius: 25px;
        background-color: rgba(#fff, 0.2);
        padding: 0 25px;
        filter: none;
        transition: background-color $time-xs ease, filter $time-xs ease;
        will-change: filter;
        &:hover {
            background-color: rgba(#fff, 0.25);
            filter: drop-shadow(0 2px 9px #fff);
        }
        &:focus {
            color: $text-color;
            background-color: #fff;
            filter: none;
            ~ #{ $this }__submit #{ $this }__icon-loupe {
                fill: $general-color;
                filter: drop-shadow(0 2px 6px rgba($general-color, 1));
            }

            &::-webkit-input-placeholder { color: $sign-color; }
            &::-moz-placeholder          { color: $sign-color; }
            &:-moz-placeholder           { color: $sign-color; }
            &:-ms-input-placeholder      { color: $sign-color; }
        }
    }
    &__submit {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 50px;
        border: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: transparent;
        cursor: pointer;
        &:hover #{ $this }__icon-loupe {
            fill: $general-color;
            filter: drop-shadow(0 2px 6px rgba($general-color, 1));
        }
    }
    &__icon-loupe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 15px;
        height: 15px;
        fill: $general-color-primary;
        filter: drop-shadow(0 2px 6px rgba($general-color-primary, 1));
        margin: auto;
    }
}

.nav-catalog {
    position: relative;
    display: flex;
}

.catalog-button {
    position: relative;
    display: inline-block;
    width: auto;
    height: 100%;
    background-color: $general-color-dark;
    &__burger {
        min-width: 69px;
        height: 100%;
    }
    &__title {
        display: none;
        font: {
            weight: 700;
            size: 16px;
        }
        color: #fff;
    }
}

.dropdown-catalog {
    $this: &;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    background-color: $general-color-dark;
    &__item {
        display: block;
        &:hover #{ $this }__link {
            background-color: $general-color;
        }
    }
    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $general-color;
        padding: 10px 20px 11px 24px;
        transition: background-color $time-xs ease;
    }
    &__text-item {
        font: {
            weight: 700;
            size: 15px;
        }
        line-height: 18px;
        color: #fff;
    }
    &__arrow {
        width: 9px;
        height: 5.54px;
        fill: #fff;
        transform: rotate(-90deg);
    }
}

.sub-dropdown {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    width: 570px;
    min-height: 100%;
    border: 1px solid #DCDCDC;
    background-color: #fff;
    padding: 15px 0;
    &__categories {
        flex: 0 1 auto;
        width: 300px;
        padding: 0 20px;
    }
    &__delimiter {
        flex: 0 0 auto;
        width: 1px;
        background-color: $border-color;
    }
    &__brands {
        flex: 1 1 auto;
        padding: 0 20px;
    }
    &__sub-title {
        font: {
            weight: 700;
            size: 14px;
        }
        color: $sign-color;
        margin-bottom: 5px;
    }
}

.dropdown-list {
    &__link {
        display: block;
        font: {
            weight: 400;
            size: 15px;
        }
        line-height: 18px;
        color: $text-color;
        padding: 7px 0;
        &:hover {
            color: $general-color;
        }
    }
}

.catalog-menu {
    font-size: 0;
    display: flex;
    padding: 0 15px;
    &__item {
        position: relative;
        display: inline-block;
        &::after {
            content: '';
            position: absolute;
            z-index: 5;
            top: 0;
            left: calc(100% - 2.5px);
            bottom: 0;
            width: 5px;
            height: 5px;
            border: 0;
            border-radius: 50%;
            background-color: $general-color-dark;
            margin: auto 0;
        }
        &:last-child::after {
            display: none;
        }
    }
    &__link {
        position: relative;
        z-index: 10;
        display: block;
        height: 100%;
        font: {
            weight: 700;
            size: 16px;
        }
        line-height: 20px;
        color: #fff;
        padding: 20px;
        &:hover {
            color: $general-color-primary;
        }
    }
}

.sales-button {
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 60px;
    background-color: $general-color-primary;
    padding: 20px;
    &__icon {
        width: 19px;
        height: 19px;
        fill: $general-color;
        margin-right: 8px;
    }
    &__text {
        font: {
            weight: 700;
            size: 16px;
        }
        color: $general-color;
    }
}

.tags {
    
}

.tag {

}
