{% extends "base-page.html" %}


{% block page_content %}

    <p class="page_title">{{ object.title }}</p>

    <div class="row">
        {% for item in object_list %}
            <div class="col-12 col-md-6">
                <a class="news_block" href="{{ item.get_absolute_url }}">
                    <div class="img_wrapper lazy_bg" data-src="{{ item.thumbnail.url }}"></div>
                    <div class="info">
                        {% if item.date_to %}
                            <div class="label">Акция действительна до {{ item.date_to }}</div>
                        {% endif %}
                        <b>{{ item.title }}</b>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock page_content %}
