.logo {
    display: inline-block;
    &__image {
        width: 163px;
        height: 64px;
        margin-top: -6px;
        margin-left: -13px;
    }
}

.quick-contact {
    display: inline-flex;
    align-items: center;
    padding: 8.5px 15px;
    &__icon {
        width: 13px;
        height: 13px;
        fill: $general-color;
        margin-right: 6px;
    }
    &__text {
        font: {
            weight: 400;
            size: 15px;
        }
        color: #fff;
        &:hover {
            color: $general-color;
        }
    }
}

.general-menu {
    $this: &;
    font-size: 0;
    &__item {
        display: inline-block;
        &:first-child #{ $this }__link {
            padding-left: 0;
        }
    }
    &__link {
        display: block;
        font: {
            weight: 400;
            size: 15px;
        }
        line-height: 18px;
        color: #fff;
        padding: 10px 15px 11px;
        &:hover {
            color: $general-color;
        }
    }
}

.burger-button {
    position: relative;
    display: block;
    font-size: 0;
    &__body {
        position: relative;
        width: 69px;
        height: 60px;
    }
    &__lines {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 19px;
        height: 2px;
        border: 0;
        border-radius: 1px;
        background-color: #fff;
        margin: auto;
        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: 0;
            border-radius: 1px;
            background-color: #fff;
            margin: 0 auto;
        }
        &::before {
            bottom: calc(100% + 5px);
        }
        &::after {
            top: calc(100% + 5px);
        }
        &#{ & }_theme {
            &_catalog {
                height: 3px;
                &::before {
                    bottom: calc(100% + 3px);
                }
                &::after {
                    top: calc(100% + 3px);
                }
            }
        }
    }
}

body > .preloader {
    position: fixed;
    z-index: 300;
}

.preloader {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, 0.9);
    &__figure {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 115px;
        height: 115px;
        margin: auto;
        &#{ & }_size {
            &_s {
                transform: scale(0.5);
            }
            &_m {
                transform: scale(0.79);
            }
            &_l {
                transform: scale(1);
            }
        }
    }
    &__item {
        position: absolute;
        background-color: transparent;
        width: 10px;
        height: 31px;
        border-radius: 5px;
        transform: scale(0.4);
        animation-name: fadeG;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        &-1 {
            top: 0;
            left: 10px;
            bottom: 0;
            animation-delay:0.45s;
            transform:rotate(-90deg);
            margin: auto 0;
        }
        &-2 {
            top: 11px;
            left: 22px;
            animation-delay:0.6s;
            transform:rotate(-45deg);
        }
        &-3 {
            top:0;
            left:0;
            right: 0;
            animation-delay:0.75s;
            transform:rotate(0deg);
            margin: 0 auto;
        }
        &-4 {
            top: 11px;
            right: 22px;
            animation-delay:0.9s;
            transform:rotate(45deg);
        }
        &-5 {
            top: 0;
            right: 10px;
            bottom: 0;
            animation-delay:1.05s;
            transform:rotate(90deg);
            margin: auto 0;
        }
        &-6 {
            right: 22px;
            bottom: 11px;
            animation-delay:1.2s;
            transform:rotate(135deg);
        }
        &-7 {
            left: 0;
            right: 0;
            bottom: 0;
            animation-delay:1.35s;
            transform:rotate(180deg);
            margin: 0 auto;
        }
        &-8 {
            left: 22px;
            bottom: 11px;
            animation-delay:1.5s;
            transform:rotate(-135deg);
        }
    }
}

@keyframes fadeG {
    0% {
        background-color: $general-color;
    }

    100% {
        background-color: transparent;
    }
}

.send-success {
    position: absolute;
    z-index: 35;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, 0.9);
    &__icon {
        width: 57px;
        height: 57px;
        fill: $general-color;
        margin-bottom: 8px;
    }
    &__message {
        width: 100%;
        max-width: 240px;
        font: {
            weight: 700;
            size: 20px;
        }
        color: $text-color;
        text-align: center;
    }
}

.preloader-wrapper, .send-success-wrapper {
    position: relative;
}

.toolpopup {
    position: absolute;
    min-width: 160px;
    font: {
        weight: 400;
        size: 16px;
    }
    line-height: 20px;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 4px;
    background-color: $general-color;
    padding: 8px 14px;
    filter: drop-shadow(0 1px 1px $general-color);
    opacity: 0;
    transform: translateY(8px) scale(0.95);
    transition: transform $time-xs ease, opacity $time-xs ease;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 11px solid $general-color;
        margin: 0 auto;
    }
    &#{ & }_visible {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.custom_modal {
    z-index: 10000;
}
