ul.messagelist {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 15px;
    > li {
        color: #fff;
        border: 0;
        border-radius: 4px;
        padding-left: 40px;
        background-color: #3f3f46;
        background-position: 15px 12px;
        box-shadow: $z-vertical-depth-5;
        > a {
            color: $color-ps-light-green;
            &:hover {
                color: $color-ps-orange;
            }
        }
    }
}

.object_tools {
    position: absolute;
    top: 0;
    right: 30px;
    display: flex;
    flex-direction: row;
    float: none;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    > li {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        > a {
            display: block;
        }
    }
}
