

{% extends "base.html" %}
{% block content %}
<div class="page order_page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li> <span>{{ object.title }}</span></li>
                        </ul>
                    </div>
                    <p class="page_title">{{ object.title }}</p>
                </div>
                {% for post in posts %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <a class="article-block" href="{{ post.get_absolute_url }}">
                        {% if post.thumbnail %}
                        <span class="article-block__img-wrapper" style="background-image: url({{ post.thumbnail.url }});"></span>
                        {% else %}
                        <span class="article-block__img-wrapper article-block__img-wrapper_no-photo">
                            <svg role="img" width="54" height="54">
                                <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                            </svg>
                        </span>
                        {% endif %}
                        <span class="article-block__info">
                            <b class="title">{{ post.title }}</b>
                            <p class="text">{{post.description}}</p>
                            <span class="date">
                                <svg role="img" width="11" height="12">
                                    <use xlink:href="/static/images/sprite.svg#calendar"></use>
                                </svg>{{ post.published_date }}
                            </span>
                        </span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}