.x_button {
    display: inline-block;
    float: none;
    width: 50px;
    height: 50px;
    font-size: 0;
    border: 0;
    border-radius: 50% !important;
    background-color: $color-ps-light-green !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 20px 20px !important;
    box-shadow: $z-vertical-depth-1;
    transition: background-color 150ms ease, box-shadow 150ms ease;
    &:hover, &:focus {
        background-color: $color-ps-orange !important;
        box-shadow: $z-vertical-depth-2;
    }
    &--add {
        background-image: $add-icon !important;
    }
    &--grid {
        background-image: $grid-icon !important;
    }
    &--tree {
        background-size: 22px 22px !important;
        background-image: $tree-icon !important;
    }
    &--history {
        background-size: 22px 22px !important;
        background-image: $history-icon !important;
    }
    &--view {
        background-size: 24px 24px !important;
        background-image: $view-icon !important;
    }
}
