/* General styles
---------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    height: 100%;
    font-size: 100%;
}

:-ms-input, :-moz, ::-moz, ::-webkit-input {
    &-placeholder {
        color: #555;
    }
}

ol, ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4, p {
    line-height: normal;
    margin: 0;
    padding: 0;
}

a {
    color: $color-text;
    text-decoration: none;
    &:hover {
        color: $color-text-hover;
        text-decoration: none;
    }
}

a, button, input, textarea {
    &:focus {
        outline: 0;
        text-decoration: none;
    }
}

body {
    position: relative;
    height: 100%;
    font-family: $f;
    line-height: normal;
    color: #464646;
    background-color: #fff;
    padding: 0 !important;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}

footer {
    flex: 0 0 auto;
}