// Шрифт
$f: 'Lato';

$radius: 4px;

$general-color: #E6007E;
$general-color-primary: #F1E71B;
$general-color-dark: #BD0067;

$text-color: #333;
$sign-color: #9B9B9B;

$darker-color: #1C1C1C;

$border-color: #EBEBEB;


// Время
$time-xs: 150ms;
$time-sm: 200ms;
$time-md: 400ms;
$time-lg: 600ms;
$time-xl: 800ms;


// Отступы
$indent-lg: 21px;
$indent-md: 16px;
$indent-sm: $indent-md / 2;
$indent-xs: $indent-sm / 2;
$indent-list: 20px;
