{% load i18n %}

<div class="breadcrumbs">
    <ul>
        <li><a href="{% url 'admin:index' %}" title="{% trans 'Go back to admin homepage' %}">{% trans "Home" %}</a></li>
        <li><a href="{% url 'admin:app_list' app_label='filer' %}" title="{% trans 'Go back to Filer app' %}"> {% trans "Filer" %}</a></li>
        {% if not instance.is_root and instance.is_smart_folder %}
            <li><a href="{% url 'admin:filer-directory_listing-root' %}" title="{% trans 'Go back to root folder' %}">{% trans "root" %}</a></li>
        {% endif %}
        {% for ancestor_folder in instance.logical_path %}
            <li><a href="{{ ancestor_folder.get_admin_directory_listing_url_path }}" title="{% blocktrans with ancestor_folder.name as folder_name %}Go back to '{{ folder_name }}' folder{% endblocktrans %}">{{ ancestor_folder.name }}</a></li>
                {% if ancestor_folder.label %}
                    <li>{{ ancestor_folder.label }}</li>
                {% else %}
                    <li>{{ ancestor_folder.name }}</li>
                {% endif %}
            </a>
        {% endfor %}
        {% if breadcrumbs_action %}
            {% if instance.label or instance.name %}
                <li><a href="{{ instance.get_admin_directory_listing_url_path }}" title="{% blocktrans with instance.name as folder_name %}Go back to '{{ folder_name }}' folder{% endblocktrans %}">{% if instance.label %}{{ instance.label }}{% else %}{{ instance.name }}{% endif %}</a></li>
            {% endif %}
            <li>{{ breadcrumbs_action }}</li>
        {% else %}
            <li>{% if instance.label %}{{ instance.label }}{% else %}{{ instance.name }}{% endif %}</li>
        {% endif %}
    </ul>
</div>