{% extends "base.html" %}
{% load date_shipping %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.6.0/dist/css/suggestions.min.css" type="text/css" rel="stylesheet" />
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock %}

{% block content %}

<div class="page">
        <div class="container">
            <div class="row orderContainer">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="/">Главная</a>
                            </li>
                            <li>
                                <span>Оформление заказа</span>
                            </li>
                        </ul>
                    </div>
                    <p class="page_title">Оформление заказа</p>
                </div>
                <div class="col-12 col-xl-8 removeSuccess">
                    <form class="checkout_form" action="{% url 'order-create' %}" method="POST">    
                        {% csrf_token %}
                        <div class="form_part">
                            <div class="part_title">
                                <span>1.</span>
                                <b>Данные получателя</b>
                            </div>
                            <div class="part_body">
                                <div class="form-group required">
                                    <label for="input-1">ФИО</label>
                                    <input name="name" class="form-control" type="text" id="input-1" required="required"/>
                                    <div class="valid-feedback">Готово!</div>
                                </div>
                                <div class="form-group required">
                                    <label for="input-2">Email</label>
                                    <input name="email" class="form-control" type="email" id="input-2" required="required"/>
                                    <div class="invalid-feedback">Обязательное поле для заполнение</div>
                                </div>
                                <div class="form-group required">
                                    <label for="input-3">Телефон</label>
                                    <input name="phone" class="form-control" type="tel" id="input-3" required="required"/>
                                    <div class="valid-feedback">Готово!</div>
                                </div>
                            </div>
                        </div>
                        <input id="shipping" type="hidden" name="shipping" value="self">
                        <div class="form_part">
                            <div class="part_title">
                                <span>2.</span>
                                <b>Способ доставки</b>
                            </div>
                            <div class="delivery_types">
                                <ul class="nav nav-tabs" id="tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab_content-1" data-shipping="self" role="tab" aria-selected="true">Самовывоз</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab_content-2" data-shipping="transport" role="tab" aria-selected="false">Транспортной компанией</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab_content-3" data-shipping="post" role="tab" aria-selected="false">Почтой России</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-4" data-toggle="tab" href="#tab_content-4" data-shipping="courier" role="tab" aria-selected="false">Курьером</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="content_container">
                                    <div class="tab-pane fade show active" id="tab_content-1" role="tabpanel">
                                        <div class="courier_info">
                                            <div class="courier_info-row">
                                                <span class="title">Адрес магазина</span>
                                                <span>{{ settings.full_address }}</span>
                                            </div>
                                            <div class="courier_info-row">
                                                <span class="title">Самовывоз возможен</span>
                                                <span>{% date_shipping %}</span>
                                            </div>
                                            <div class="courier_info-row">
                                                <span class="title">Стоимость</span>
                                                <span>Бесплатно</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab_content-2" role="tabpanel">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-4">Почтовый индекс</label>
                                                    <input class="form-control" disabled name="post_code" type="text" id="input-4"/>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-5">Область</label>
                                                    <input class="form-control" disabled name="region" type="text" id="input-5" />
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-6">Район</label>
                                                    <input class="form-control" disabled name="district" type="text" id="input-6" />
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-7">Город/населенный пункт</label>
                                                    <input class="form-control" disabled name="city" type="text" id="input-7" />
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-8">Улица</label>
                                                    <input class="form-control" disabled name="street" type="text" id="input-8" />
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-9">Дом</label>
                                                            <input class="form-control" disabled name="house" type="text" id="input-9" />
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-10">Корпус</label>
                                                            <input class="form-control" disabled name="housing" type="text" id="input-10" />
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-11">Квартира</label>
                                                            <input class="form-control" disabled name="apartment" type="text" id="input-11" />
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="input-12">Комментарий</label>
                                                    <textarea class="form-control" disabled name="comment" id="input-12" placeholder="Напишите дополнительную информацию по доставке" ></textarea>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="map_container" id="map-1" data-id="0">
                                            <div data-lat="{{ settings.coord_x }}" data-lng="{{ settings.coord_y }}" data-message="{{ settings.name }}" data-popup="Котлас0"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab_content-3" role="tabpanel"> 
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-41">Почтовый индекс</label>
                                                    <input class="form-control" disabled name="post_code" type="text" id="input-41" />
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-51">Область</label>
                                                    <input class="form-control" disabled name="region" type="text" id="input-51" />
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-61">Район</label>
                                                    <input class="form-control" disabled name="district" type="text" id="input-61" />
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-71">Город/населенный пункт</label>
                                                    <input class="form-control" disabled name="city" type="text" id="input-71" />
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-81">Улица</label>
                                                    <input class="form-control" disabled name="street" type="text" id="input-81" />
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-91">Дом</label>
                                                            <input class="form-control" disabled name="house" type="text" id="input-91" />
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-101">Корпус</label>
                                                            <input class="form-control" disabled name="housing" type="text" id="input-101" />
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-111">Квартира</label>
                                                            <input class="form-control" disabled name="apartment" type="text" id="input-111" />
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="input-121">Комментарий</label>
                                                    <textarea class="form-control" disabled id="input-121" placeholder="Напишите дополнительную информацию по доставке" ></textarea>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="map_container" id="map-2" data-id="1">
                                            <div data-lat="{{ settings.coord_x }}" data-lng="{{ settings.coord_y }}" data-message="{{ settings.name }}" data-popup="{{ settings.name }}"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab_content-4" role="tabpanel"> 
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="select-1">Выберите город доставки</label>
                                                    <select class="custom-select mr-sm-2"  disabled name="city" id="select-1">
                                                        <option value="1">г. Москва</option>
                                                        <option value="2">г. Вологда</option>
                                                        <option value="3">г. Саратов</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="input-8">Улица</label>
                                                    <input class="form-control"  disabled name="street" type="text" id="input-8" />
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-9">Дом</label>
                                                            <input class="form-control" disabled name="house" type="text" id="input-9" />
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-10">Корпус</label>
                                                            <input class="form-control" disabled name="housing" type="text" id="input-10" />
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="input-11">Квартира</label>
                                                            <input class="form-control" disabled name="apartment" type="text" id="input-11" />
                                                            <div class="valid-feedback">Готово!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="input-12">Комментарий</label>
                                                    <textarea class="form-control" name="comment" disabled id="input-12" placeholder="Напишите дополнительную информацию по доставке" ></textarea>
                                                    <div class="valid-feedback">Готово!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="map_container" id="map-3" data-id="3">
                                            <div data-lat="{{ settings.coord_x }}" data-lng="{{ settings.coord_y }}" data-message="{{ settings.name }}" data-popup="{{ settings.name }}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_part">
                            <div class="part_title">
                                <span>3.</span>
                                <b>Способ оплаты</b>
                            </div>
                            <div class="payment_type">
                                <label class="payment_checkbox" for="payment-1">
                                    <input type="radio" name="payment" id="payment-1" value="bank" checked="checked"/>
                                    <s class="new_checkbox">Банковской картой онлайн</s>
                                </label>
                                <label class="payment_checkbox" for="payment-2">
                                    <input type="radio" name="payment" value="bill" id="payment-2"/>
                                    <s class="new_checkbox">Оплата по счету</s>
                                </label>
                                <label class="payment_checkbox" for="payment-3">
                                    <input type="radio" name="payment" value="receiving" id="payment-3"/>
                                    <s class="new_checkbox">Оплата при получении</s>
                                </label>
                            </div>
                        </div>
                        <div class="form_footer">
                            <div class="policy">Нажимая «Оформить заказ» я соглашаюсь на 
                                <a href="#">обработку персональных данных</a>
                            </div>
                            <div class="button">
                                <input class="btn btn-primary btn-lg submit-button" type="submit" value="Оформить заказ"/>
                                {% comment %} <span class="error_text">Одно или несколько полей заполнены неправильно.</span> {% endcomment %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-xl-4 removeSuccess">
                    <div class="order_items">
                        {% for item in cart.items %}
                            <div class="item">
                                <div class="info">
                                    <b>{{ item.product.brand.title }}</b>
                                    <span>{{ item.product.title }}</span>
                                </div>
                                <div class="price">
                                    <span>{{ item.count }} х <b>{{ item.price }} руб.</b></span>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="delivery_type">
                            <span>Доставка</span>
                            <b>Бесплатно</b>
                        </div>
                        <div class="final_price">
                            <span>Итого:</span>
                            <b>{{ cart.total }} руб.</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script> ymaps.ready(function () { initYmap() }) </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.6.0/dist/js/jquery.suggestions.min.js"></script>

<script>

// подсказки для ввода адреса
function join(arr /*, separator */) {
    var separator = arguments.length > 1 ? arguments[1] : ", ";
    return arr.filter(function(n){return n}).join(separator);
  }
  
  function formatCity(suggestion) {
    var address = suggestion.data;
    if (address.city_with_type === address.region_with_type) {
        return address.settlement_with_type || "";
      } else {
        return join([
          address.city_with_type,
          address.settlement_with_type]);
      }
  }
  
/**
 * Показывает индекс в отдельном поле
 */
function showPostalCode(suggestion) {
    $("#input-4").val(suggestion.data.postal_code);
  }
  
  /**
   * Очищает индекс
   */
  function clearPostalCode() {
    $("#input-4").val("");
  }

  var 
  token = "09e1dd759ae1f618e6e233dbd7d757f813bed4bd",
      type  = "ADDRESS",
      $region = $("#input-5"),
      $area   = $("#input-6"),
      $settlement   = $("#input-7"),
      $street = $("#input-8"),
      $house  = $("#input-9");

      $region_1 = $("#input-51"),
      $area_1   = $("#input-61"),
      $settlement_1   = $("#input-71"),
      $street_1 = $("#input-81"),
      $house_1  = $("#input-91");
  
  // регион и район
  $region.suggestions({
    token: token,
    type: type,
    hint: false,
    bounds: "region"
  });

  $area.suggestions({
    token: token,
    type: type,
    hint: false,
    bounds: "area",
    constraints: $region
  });
  
  
  // город и населенный пункт
  $settlement.suggestions({
    token: token,
    type: type,
    hint: false,
    bounds: "city-settlement",
    constraints: $region,
    onSelect: showPostalCode,
    onSelectNothing: clearPostalCode
  });
  
  // улица
  $street.suggestions({
    token: token,
    type: type,
    hint: false,
    bounds: "street",
    constraints: $settlement,
    onSelect: showPostalCode,
    onSelectNothing: clearPostalCode
  });
  
  // дом
  $house.suggestions({
    token: token,
    type: type,
    hint: false,
    bounds: "house",
    constraints: $street,
    onSelect: showPostalCode,
    onSelectNothing: clearPostalCode
  });



  //// почтой

  $region_1.suggestions({
    token: token,
    type: type,
    hint: false,
    bounds: "region"
  });

  $area_1.suggestions({
    token: token,
    type: type,
    hint: false,
    bounds: "area",
    constraints: $region
  });
  
  
  // город и населенный пункт
  $settlement_1.suggestions({
    token: token,
    type: type,
    hint: false,
    bounds: "city-settlement",
    constraints: $region,
    onSelect: showPostalCode,
    onSelectNothing: clearPostalCode
  });
  
  // улица
  $street_1.suggestions({
    token: token,
    type: type,
    hint: false,
    bounds: "street",
    constraints: $settlement,
    onSelect: showPostalCode,
    onSelectNothing: clearPostalCode
  });
  
  // дом
  $house_1.suggestions({
    token: token,
    type: type,
    hint: false,
    bounds: "house",
    constraints: $street,
    onSelect: showPostalCode,
    onSelectNothing: clearPostalCode
  });
  
  
  console.log($house.suggestions())
</script>
{% endblock %}