<li>
    <a class="{% if forloop.first %} active{% endif %}" data-toggle="tab" href="#field-set-tab-{{ forloop.counter }}" role="tab" aria-controls="field-set-tab-{{ forloop.counter }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ fieldset.name }}</a>
</li>