{% extends "base.html" %}


{% block content %}

    <div class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
                            <li>
                                <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" title="Главная" href="/">
                                        <span itemprop="name">Главная</span>
                                        <meta itemprop="position" content="1"/>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                                    <span itemprop="name">{% block breadcrumb %}Личный кабинет{% endblock %}</span>
                                    <meta itemprop="position" content="2"/>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <p class="page_title">{% block page_name %}Личный кабинет{% endblock %}</p>
                </div>
                {% block account_sidebar %}
                    <div class="col-12 col-lg-4 col-xl-3">
                        <div class="sidebar">
                            <ul class="sidebar__list">
                                <li class="sidebar__item{% block orders_class %}{% endblock %}">
                                    <a class="sidebar__link" href="{% url 'account-orders' %}">Мои заказы</a>
                                </li>
                                <li class="sidebar__item{% block data_class %}{% endblock %}">
                                    <a class="sidebar__link" href="{% url 'account-data' %}">Личные данные</a>
                                </li>
                                <li class="sidebar__item{% block password_class %}{% endblock %}">
                                    <a class="sidebar__link" href="{% url 'account-password' %}">Изменить пароль</a>
                                </li>
                                <li class="sidebar__item{% block favorites_class %}{% endblock %}">
                                    <a class="sidebar__link" href="{% url 'account-favorites' %}">Избранные товары </a>
                                </li>
                                <li class="sidebar__item{% block waiting_class %}{% endblock %}">
                                    <a class="sidebar__link" href="{% url 'account-waiting' %}">Лист ожидания</a>
                                </li>
                                {% comment %}
                                    <li class="sidebar__item{% block bonus_class %}{% endblock %}">
                                        <a class="sidebar__link" href="">Бонусный счет</a>
                                    </li>
                                {% endcomment %}
                                <li class="sidebar__item{% block subscribe_class %}{% endblock %}">
                                    <a class="sidebar__link" href="{% url 'account-subscribe' %}">Упраление подписками</a>
                                </li>
                                <li class="sidebar__item">
                                    <a class="sidebar__link" href="">Выход</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endblock %}

                <div class="{% block account_class %}col-12 col-lg-8 col-xl-9{% endblock %}">
                    {% block content_account %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
