{% extends "account/base-account.html" %}


{% block favorites_class %} current-menu-item{% endblock %}

{% block content_account %}

    <p class="profile_mini_title">Избранные товары</p>

    {% comment %}
        <div class="product_categories">
            <a class="active" href="#">Все товары</a>
            <a href="#">В наличии</a>
            <a href="#">Нет в наличии</a>
        </div>
    {% endcomment %}

    <div class="products">
        <div class="row">
            {% for item in favorites.items %}
                {% with product=item.product %}
                    <div class="col-12 col-md-6 col-xl-4">
                        {% include "catalog/favorite-card.html" %}
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
