{% extends 'admin/change_list.html' %}
{% load i18n %}

{% block object-tools-items %}
{{ block.super }}
    <li>
        <a class="x_button x_button--tree" href="{{ tree_url }}"></a>
    </li>
{% endblock %}
