@charset "UTF-8";
/************************************************
 * Stylesheet: Main Stylesheet
 * Description: place-start создание продвижение сайтов
 * Author: place-start.ru
 * Author URI: http://place-start.ru/
*************************************************/
/*	Reset
---------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

*:focus, *:focus * {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

body.opened {
  overflow: hidden;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden;
  background-position: center top;
  width: 100%;
}

.page_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}

/*	Стили страниц
---------------------------------------*/
ol, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4, p {
  line-height: normal;
  margin: 0;
  padding: 0;
}

a:focus, button:focus, input:focus, textarea:focus {
  outline: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Кнопка открытия мобильного меню
---------------------------------------*/
.mobile_menu_open {
  position: absolute;
  right: 20px;
  top: 6px;
  bottom: 0;
  margin: auto;
  display: inline-block;
  height: 22px;
  width: 20px;
}

.mobile_menu_open > svg {
  fill: #fff;
}

/* Мобильное меню
---------------------------------------*/
nav.mobile_menu {
  width: calc(100% - 50px);
  right: 0;
  top: 0;
  background-color: #fff;
  position: fixed;
  z-index: 600;
  height: 100%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  padding-bottom: 10px;
}

nav.mobile_menu.opened, nav.mobile_menu.active, nav.mobile_menu .nav_close.opened {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  display: block;
}

nav.mobile_menu ul {
  margin-top: 0 !important;
  width: 100%;
}

nav.mobile_menu > ul {
  padding-bottom: 14px;
}

nav.mobile_menu > ul > li {
  position: relative;
}

nav.mobile_menu > ul > li > a {
  display: block;
  position: relative;
  padding: 15px 20px 11px;
  color: #262626;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.31px;
}

nav.mobile_menu > ul > li > a:hover {
  color: #ffcc00;
}

nav.mobile_menu > ul > li > a:hover span > svg {
  fill: #ffcc00;
}

nav.mobile_menu > ul > li > a span {
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 22px;
}

nav.mobile_menu > ul > li > a.active span {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

nav.mobile_menu > ul > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 1px;
  width: calc(100% - 40px);
  background-color: #e7e7e7;
}

nav.mobile_menu > ul > li .sub-menu {
  display: none;
  padding-bottom: 5px;
}

nav.mobile_menu > ul > li .sub-menu.active {
  display: block;
}

nav.mobile_menu > ul > li .sub-menu li a {
  display: block;
  color: #646464;
  font-size: 15px;
  font-weight: 400;
  padding: 6px 0 6px 36px;
}

nav.mobile_menu > ul > li .sub-menu li a:hover {
  color: #ffcc00;
}

nav.mobile_menu .mob_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 20px;
}

nav.mobile_menu .mob_group .icon_wrapper {
  display: inline-block;
  width: 20px;
}

nav.mobile_menu .mob_group .icon_wrapper > svg {
  fill: #3c3f6e;
}

nav.mobile_menu .mob_group .links {
  display: inline-block;
}

nav.mobile_menu .mob_group .links a {
  display: block;
  color: #3c3f6e;
  font-size: 16px;
}

nav.mobile_menu .mob_group .links.phone_links a {
  font-weight: 700;
  letter-spacing: 0.18px;
  line-height: 20px;
}

/* Кнопка закрытия мобильного меню
---------------------------------------*/
.nav_close {
  position: fixed;
  top: 0;
  z-index: 600;
  display: inline-block;
  margin: 0;
  width: 50px;
  height: 100%;
  background-color: rgba(81, 76, 71, 0.5);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  overflow-y: auto;
}

.nav_close span {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #ffcc00;
  position: relative;
}

.nav_close span:before, .nav_close span:after {
  content: '';
  display: block;
  position: absolute;
  top: 24px;
  left: 16px;
  width: 20px;
  height: 2px;
  background: #fff;
}

.nav_close span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav_close span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav_close.opened {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  display: block;
}

/* Сео-блок на главной
---------------------------------------*/
#index_seo_block {
  padding: 93px 0 125px;
}

#index_seo_block .seo_img {
  height: 403px;
  position: relative;
}

#index_seo_block .seo_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#index_seo_block .seo_img:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 30px;
  top: 30px;
  width: 100%;
  height: 100%;
  background-image: url("../images/dotted_img_bg.png");
  overflow: hidden;
}

#index_seo_block #index_seo_scroller {
  height: 403px;
  overflow: hidden;
}

#index_seo_block #index_seo_scroller .mCSB_dragger_bar {
  background-color: #ffcc00;
}

#index_seo_block #index_seo_scroller .mCSB_draggerRail {
  width: 3px;
  background-color: #eaeaea;
}

#index_seo_block #index_seo_scroller .content-text h1 {
  padding: 0 0 10px;
}

#index_seo_block .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 5px;
}

/* Бургер для меню
---------------------------------------*/
.ps-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 70px;
  min-width: 70px;
  height: 60px;
  cursor: pointer;
}

.ps-burger:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.ps-burger__burger-desc {
  margin: 0 0 0 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  font-style: normal;
}

.ps-burger__burger-desc:after {
  content: "";
  display: inline-block;
  border: 4px solid transparent;
  border-top: 5px solid #fff;
  margin: 0 0 0 12px;
}

.ps-burger span {
  display: block;
  position: relative;
  bottom: 1px;
  height: 2px;
  width: 16px;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.ps-burger span:after, .ps-burger span:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.ps-burger span:before {
  top: -6px;
}

.ps-burger span:after {
  bottom: -6px;
}

.ps-burger.opened span {
  width: 20px;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ps-burger.opened span:after {
  opacity: 0;
}

.ps-burger.opened span:before {
  top: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-radius: 3px;
}

/* Стили модалки
---------------------------------------*/
i.modal_bg {
  display: none;
  position: fixed;
  z-index: 600;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

i.modal_bg.opened {
  display: block;
}

.modal_wrapper {
  display: block;
  position: fixed;
  z-index: 700;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  width: 320px;
  max-width: 100%;
  max-height: 100%;
  padding: 30px 47px 20px;
  overflow: hidden;
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: .6s;
  transition: .6s;
}

.modal_wrapper.opened {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.modal_wrapper i.close_modal {
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.modal_wrapper i.close_modal:before, .modal_wrapper i.close_modal:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #c9c9c9;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal_wrapper i.close_modal:before {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal_wrapper i.close_modal:after {
  right: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal_wrapper i.close_modal:hover:before, .modal_wrapper i.close_modal:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_wrapper .modal-text h2 {
  text-align: center;
  color: #2e2e5b;
  font-family: Lora;
  font-size: 26px;
  font-weight: 400;
}

.modal_wrapper .modal-text > b {
  display: block;
  text-align: center;
  color: #999;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  padding: 2px 0 15px;
}

.modal_wrapper .modal-text form {
  width: 100%;
}

.modal_wrapper .modal-text form .group {
  position: relative;
  margin-bottom: 10px;
}

.modal_wrapper .modal-text form .group.active label {
  top: 6px;
  color: #3c3f6e;
  font-size: 14px;
  font-weight: 700;
}

.modal_wrapper .modal-text form .group input:not([type="checkbox"]), .modal_wrapper .modal-text form .group textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  color: #333;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  padding: 25px 15px 5px;
}

.modal_wrapper .modal-text form .group input:not([type="checkbox"]) {
  height: 50px;
}

.modal_wrapper .modal-text form .group textarea {
  height: 120px;
  resize: none;
  line-height: 18px;
}

.modal_wrapper .modal-text form .group label {
  position: absolute;
  z-index: 10;
  top: 13px;
  left: 15px;
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 400;
  font-family: Lato;
  cursor: text;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal_wrapper .modal-text form span.wpcf7-not-valid-tip {
  display: none;
}

.modal_wrapper .modal-text form .wpcf7-response-output {
  color: #333;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin: 10px 0;
}

.modal_wrapper .modal-text form .wpcf7-not-valid {
  border-color: red !important;
}

.modal_wrapper .modal-text form input[type="submit"] {
  width: 100%;
  height: 47px;
  line-height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.modal_wrapper .modal-text form input[type="submit"]:disabled {
  opacity: 0.5;
}

.modal_wrapper .modal-text form input[type="submit"]:disabled:hover {
  background-color: #ffcc00;
  cursor: default;
}

.modal_wrapper .modal-text form input[type="checkbox"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 0;
  cursor: pointer;
}

.modal_wrapper .modal-text form .acceptance_link {
  -webkit-display: flex;
  -webkit-align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0 0 12px;
}

.modal_wrapper .modal-text form .acceptance_link s {
  text-decoration: none;
  color: #9b9b9b;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

.modal_wrapper .modal-text form .acceptance_link s a {
  text-decoration: underline;
  color: #9b9b9b;
}

.modal_wrapper .modal-text form .acceptance_link s a:hover {
  text-decoration: none;
}

.modal_wrapper .modal-text form .acceptance_link > span {
  display: inline-block;
  margin-right: 6px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  background-color: #ececec;
  width: 15px;
  min-width: 15px;
  height: 15px;
  cursor: pointer;
}

.modal_wrapper .modal-text form .acceptance_link > span input {
  display: none;
  margin: 0;
}

.modal_wrapper .modal-text form .acceptance_link.active > span {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAMAAAAY5vW6AAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAx44MCMG+loaBfLmtnxAOoqt2aQAAADhJREFUCNc9zMkRACAIA0Dxvk3/1QoymA9LHnGWONfnQDFmYW/MkOD5ZFSlVARP/L8cAppNbOqKCzuAAUv1aczJAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffcc00;
  border-color: #ffcc00;
}

.modal_wrapper .modal-text form .acceptance_link .wpcf7-list-item-label {
  display: none;
}

/*	Навигация по страницам архива
---------------------------------------*/
.navigation-wrapper {
  margin: 6px 0 92px;
}

.navigation-wrapper a, .navigation-wrapper span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0 16px 0 15px;
  color: #333;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100%;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0);
}

.navigation-wrapper a:hover, .navigation-wrapper span:hover {
  border-color: #ffcc00;
}

.navigation-wrapper .current {
  color: #fff;
  background-color: #3c3f6e;
}

.navigation-wrapper .current:hover {
  border-color: #3c3f6e;
}

.navigation-wrapper .nav-links {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.navigation-wrapper .nav-links .dots {
  height: 38px;
  width: 38px;
}

.navigation-wrapper .nav-links a > svg {
  height: 14px;
  width: 13px;
  fill: #494949;
}

.navigation-wrapper .nav-links a.prev > svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.navigation-wrapper .nav-links a.next > svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.navigation-wrapper .nav-links a.prev, .navigation-wrapper .nav-links a.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

/*	Страница 404
---------------------------------------*/
.body_404 .wrapper {
  -webkit-display: flex;
  -webkit-align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 476px;
  padding: 30px 0;
}

.body_404 .wrapper img {
  display: block;
  max-width: 100%;
}

.body_404 .wrapper .not_found-content {
  padding-bottom: 28px;
}

.body_404 .wrapper .not_found-content h2 {
  color: #333;
  font-family: Lora;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
}

.body_404 .wrapper .not_found-content span {
  display: block;
  color: #333;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 0 20px;
}

.body_404 .wrapper .not_found-content a {
  display: block;
  width: 300px;
  max-width: 100%;
  height: 47px;
  line-height: 50px;
  color: #fff;
}

/*==========  Desktop First Method  ==========*/
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Large Devices, Wide Screens */
@media (max-width: 1199px) {
  .container {
    width: 100%;
  }
  main {
    width: 100%;
  }
}

/* Small Devices, Phones */
/* Extra Small Devices, Phones */
@media (max-width: 767px) {
  /* Сео-блок на главной
	---------------------------------------*/
  #index_seo_block {
    padding: 30px 0 41px;
  }
  #index_seo_block > .container {
    padding: 0 10px;
  }
  #index_seo_block > .container > .row {
    margin: 0 -10px;
  }
  #index_seo_block > .container > .row > div {
    padding: 0 10px;
  }
  #index_seo_block .seo_img {
    height: 180px;
    width: calc(100% - 15px);
    margin: 23px 0 15px;
  }
  #index_seo_block .seo_img:before {
    left: 15px;
    top: 15px;
  }
  #index_seo_block #index_seo_scroller {
    height: 280px;
    padding-bottom: 10px;
  }
  #index_seo_block #index_seo_scroller .content-text h1 {
    font-size: 24px;
    line-height: 30px;
    padding: 0 0 4px;
  }
  #index_seo_block #index_seo_scroller .content-text h2 {
    font-size: 24px;
    padding: 14px 0 5px;
  }
  #index_seo_block #index_seo_scroller .content-text h3 {
    padding-top: 6px;
  }
  #index_seo_block #index_seo_scroller .content-text p, #index_seo_block #index_seo_scroller .content-text li {
    line-height: 21px;
    font-size: 16px;
    padding-bottom: 13px;
  }
  /*	Навигация постов
	---------------------------------------*/
  .navigation-wrapper {
    margin-bottom: 15px;
  }
  .navigation-wrapper a, .navigation-wrapper span {
    margin: 0 3px;
    height: 24px !important;
    width: 24px !important;
    border: none;
    font-size: 14px;
  }
  .navigation-wrapper .nav-links a > svg {
    width: 10px;
    height: 10px;
  }
  /* Страница 404
	---------------------------------------*/
  .body_404 .wrapper {
    height: auto;
    padding: 5px 0;
  }
  .body_404 .wrapper img {
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
  }
  .body_404 .wrapper .not_found-content {
    margin: 0 auto;
    text-align: center;
  }
  .body_404 .wrapper .not_found-content h2 {
    font-size: 27px;
    line-height: 34px;
  }
  .body_404 .wrapper .not_found-content span {
    font-size: 14px;
    line-height: 20px;
    padding: 5px 0 10px;
  }
  .body_404 .wrapper .not_found-content a {
    margin: 0 auto;
    width: 290px;
  }
}

/*# sourceMappingURL=general.css.map */
