@charset "UTF-8";
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .product_card:not(.removing):hover {
    border-color: #ffcc00;
  }
  .product_card:not(.removing):hover .img_wrapper .hover_layer {
    opacity: 1;
  }
  .product_card:not(.removing):hover .img_wrapper .badges .badge {
    border-color: #fff;
    background-color: transparent;
  }
  .product_card:not(.removing):hover .info .title {
    color: #ffcc00;
  }
  .product_card:not(.removing):hover .remove_product {
    opacity: 1;
  }
}

/* Large Devices, Wide Screens */
@media (max-width: 1199px) {
  /* Шапка
	---------------------------------------*/
  .container {
    width: 100%;
    max-width: 100%;
  }
  header .desktop-header {
    display: none;
  }
  header .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
  }
  .sidebar_help {
    margin: 0;
  }
  .filters {
    background-color: #fff;
    position: fixed;
    z-index: 800;
    width: calc(100% - 50px);
    height: 100%;
    right: 0;
    top: 0;
    overflow-y: auto;
    -webkit-transform: translateX(101%);
    transform: translateX(101%);
    -webkit-transition: .3s;
    transition: .3s;
  }
  .filters.opened {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  a.common_count {
    display: none !important;
  }
  .wide_product_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }
  .wide_product_card:hover .left_part .wrapper .img_wrapper .hover_img {
    display: none;
  }
  .wide_product_card:hover .right_part .wrapper .badges {
    opacity: 1;
  }
  .wide_product_card .left_part {
    width: 100%;
  }
  .wide_product_card .right_part {
    width: 100%;
    margin: 0;
  }
  .wide_product_card .right_part .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .wide_product_card .right_part .wrapper .amount {
    position: static;
    opacity: 1;
    margin: 0;
  }
  .wide_product_card .right_part .wrapper .badges {
    opacity: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .wide_product_card .right_part .wrapper .badges .badge {
    margin: 2px 5px 2px 0;
  }
  .add_to_cart.added .go-to-cart, .add-to-cart.added .go-to-cart {
    display: none;
  }
  .add_to_cart.added:after, .add-to-cart.added:after {
    content: "Добавлено";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #ffcc00;
    border-radius: 4px;
  }
  .custom_modal {
    top: 10px;
    max-height: calc(100% - 20px);
    overflow-y: scroll;
  }
  .modal-order form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .modal-order .main-info, .modal-order .order-table {
    width: 100%;
  }
  .modal-order .main-info .modal_close {
    display: block;
  }
  .modal-order .order-table__body {
    padding: 0 0 75px;
    height: auto;
  }
  .order-table__header {
    display: none;
  }
  .order-table__body {
    width: 100%;
  }
  .order-table__row_body {
    height: auto;
    padding: 10px 15px;
  }
  .order-table__total {
    position: absolute;
    z-index: 2;
    left: 0;
    top: calc(100% - 75px);
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
  }
  .cart-table__footer .wrapper {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .index-row_products .index-row__body > .row > div:last-child {
    display: none;
  }
  .product_card .remove_product {
    border-color: #ffcc00;
    opacity: 1;
  }
  .product_card .remove_product:before, .product_card .remove_product:after {
    background: #ffcc00;
  }
  .balance_info .tip {
    height: auto;
    max-height: 100px;
  }
  .notification_block .text {
    padding: 0 10px;
  }
  .stock-block__hover-layer {
    display: none;
  }
  .top-slider__controlls {
    display: none;
  }
  .top-slider__body, .top-slider__slide-content {
    height: calc(100vh - 60px);
  }
  .top-slider__slide-title {
    font-size: 10vh;
    line-height: 12vh;
  }
  .products-slider__text-over {
    font-size: 14vw;
  }
  .section-about__part-one {
    padding: 30px 0;
    height: auto;
  }
  .section-about__part-one:before {
    background-position: top right;
    background-size: cover;
  }
  .section-about__part-two {
    height: 100%;
  }
  .section-about__part-two:before {
    background-position: top left;
    background-size: cover;
  }
  .section-about__main {
    padding: 0 0 0 40px;
  }
  .section-about__company-title {
    padding: 5px 0 0 60px;
    font-size: 70px;
    line-height: 76px;
  }
}

/* Small Devices, Phones */
@media (max-width: 991px) {
  .product-form__title {
    padding: 12px 0;
  }
  footer .lower_footer .wrapper {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0;
  }
  footer .lower_footer .wrapper .wrapper_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .lower_footer .wrapper .wrapper_left p {
    padding: 0;
    text-align: center;
  }
  footer .lower_footer .wrapper .made_by {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .index-row_stock .slick-list {
    margin: 0 -10px;
  }
  .index-row_stock .slick-list .slick-track .slick-slide {
    margin: 0 10px;
    height: auto;
    max-width: none;
  }
  .index-row_products .index-row__body > .row > div:last-child {
    display: block;
  }
  .balance_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .balance_info .tip {
    margin: 10px 0 0;
  }
  .compare-component.scrolled {
    padding: 357px 0 0;
  }
  .compare-component.scrolled .compare-component__product-scroller {
    position: fixed !important;
    z-index: 2;
    left: 15px;
    top: 0px;
    width: calc(100% - 30px);
    padding: 10px 5px 35px !important;
    background-color: #fff;
  }
  .compare-component__controlls {
    padding: 0 0 10px;
  }
  .compare-component__categories {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 0 5px;
  }
  .compare-component__categories-item {
    margin: 0 10px 10px 0;
    text-align: left;
  }
  .compare-component__product-scroller {
    padding: 0 5px 35px;
  }
  .compare-component__product-scroller .product_card {
    width: calc((100vw - 30px - 25px) / 3);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc((100vw - 30px - 25px) / 3);
    flex: 0 0 calc((100vw - 30px - 25px) / 3);
    margin: 0 5px;
  }
  .compare-component__product-scroller .os-content {
    margin: 0 -5px;
  }
  .params-table__row {
    position: relative;
  }
  .params-table__row-wrapper {
    width: 100%;
  }
  .params-table__row-wrapper .os-content {
    margin: 0;
  }
  .params-table__row-title {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }
  .params-table__row-item {
    position: relative;
    z-index: 2;
    width: calc((100vw - 30px - 23px) / 3);
    margin: 0 10px 0 0;
    padding: 40px 0 0;
  }
  .top-slider__body .slick-dots {
    bottom: 15px;
  }
  .top-slider__body .slick-dots li {
    width: 20px;
    height: 2px;
    margin: 0 6px;
  }
  .top-slider__body .slick-dots li.slick-active {
    height: 2px;
  }
  .index-products {
    padding: 45px 0;
  }
  .product-container {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .product-container:before {
    bottom: -45%;
    right: -8px;
  }
  .product-container:after {
    bottom: -35px;
    right: -45px;
  }
  .product-container__image-container {
    right: 0;
    bottom: -80%;
    top: auto;
  }
  .products-slider {
    height: auto;
    overflow: visible;
  }
  .products-slider__slide {
    height: auto;
  }
  .products-slider__slide-image {
    max-width: 100%;
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .products-slider .slick-dots {
    top: 190px;
  }
  .products-slider .slick-list {
    overflow: visible;
  }
  .products-slider__text-over {
    position: static;
    line-height: 15vw;
  }
  .section-about {
    overflow: hidden;
  }
  .section-about > .container > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 0 -30px;
  }
  .section-about__part-one:before {
    right: -15px;
  }
  .section-about__part-two {
    height: auto;
    padding: 100px 0;
    overflow: hidden;
  }
}

/* Extra Small Devices, Phones */
@media (max-width: 767px) {
  .page_title {
    line-height: 32px;
    padding: 5px 0 15px;
    font-size: 26px;
  }
  .list_link a {
    font-size: 14px;
    padding: 2px 6px;
  }
  .product_card {
    margin: 0 0 15px;
  }
  .wide_product_card:last-child {
    margin-bottom: 15px;
  }
  .wide_product_card .right_part {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .wide_product_card .right_part .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
  }
  .wide_product_card .right_part .wrapper .amount {
    margin: 10px 0 0;
  }
  .product-slider__container:after {
    display: none;
  }
  .product-slider__container-slide {
    height: 320px;
  }
  .product-slider__carousel {
    display: none;
  }
  .nav-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #dbdbdb;
  }
  .nav-tabs .nav-item:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
  }
  .nav-tabs .nav-link {
    border: none !important;
  }
  .tab-pane {
    padding: 10px 2px;
  }
  .conditions {
    margin: 10px 0;
  }
  .load_content {
    margin: 0 0 15px;
    height: 40px;
    font-size: 16px;
  }
  .page-link {
    font-size: 12px;
    padding: 0.3rem .6rem;
  }
  .order-table__row {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .order-table__row_body {
    padding: 10px 30px 10px 15px;
  }
  .order-table__row_body .mobile-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 75px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
  }
  .order-table__row .price, .order-table__row .amount, .order-table__row .info {
    padding: 0 0 10px;
  }
  .order-table__row .total-price {
    width: 100%;
    text-align: right;
    padding: 10px 0 0;
  }
  .order-table__row .total-price .hidden {
    display: inline-block;
  }
  .order-table__row .info {
    width: 100%;
  }
  .order-table__row .delete-item {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .order_items {
    margin: 20px 0;
  }
  .order_items .title {
    padding: 8px 15px;
    font-size: 18px;
  }
  .order_items .item {
    padding: 12px 15px 0;
  }
  .order_items .item .price span {
    text-align: right;
  }
  .order_items .delivery_type {
    padding: 14px 15px 10px;
  }
  .order_items .final_price {
    padding: 10px 15px;
  }
  .checkout_form .form_part .part_title {
    font-size: 16px;
    padding: 10px 15px;
  }
  .checkout_form .form_part .part_body {
    padding: 0 15px;
  }
  .checkout_form .form_part .delivery_types {
    padding: 0 15px;
  }
  .checkout_form .form_part .delivery_types ul li {
    border: none;
  }
  .checkout_form .form_part .delivery_types ul li a {
    border: none;
  }
  .checkout_form .form_part .payment_type {
    padding: 5px 15px;
  }
  .checkout_form .form_part .payment_type .payment_checkbox {
    width: 100%;
  }
  .checkout_form .form_part .courier_info-row {
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 0 5px;
  }
  .checkout_form .form_part .courier_info-row span {
    max-width: none;
  }
  .checkout_form .map_container {
    height: 230px;
    margin: 10px 0 5px;
  }
  .checkout_form .form_footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 10px 0 0;
  }
  .checkout_form .form_footer .policy {
    padding: 5px 0 0;
  }
  .cart-table__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cart-table__footer .wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px 0;
  }
  .cart-table__footer .wrapper a {
    margin: 10px 0 0;
  }
  footer .footer-block {
    padding: 15px 0 8px;
  }
  footer .lower_footer .wrapper .wrapper_left p {
    padding-bottom: 7px;
  }
  footer .lower_footer .wrapper .made_by {
    padding-top: 9px;
  }
  #bootslider .carousel-inner .carousel-item {
    height: 320px;
  }
  #bootslider .carousel-inner .carousel-item .wrapper {
    padding: 0 75px;
  }
  #bootslider .carousel-inner .carousel-item .wrapper .title {
    font-size: 28px;
    line-height: 36px;
  }
  #bootslider .carousel-inner .carousel-item .wrapper .desc {
    padding: 5px 0;
  }
  #bootslider .carousel-inner .carousel-item .wrapper .slider_link {
    margin: 10px 0 0;
  }
  #bootslider .carousel-control-next, #bootslider .carousel-control-prev {
    display: none;
  }
  .category-block {
    margin: 0 0 10px;
  }
  .article-block {
    margin: 0 0 15px;
  }
  .index-row {
    padding: 15px 0;
  }
  .index-row__header {
    padding: 0 0 10px;
  }
  .index-row__header .title {
    font-size: 20px;
  }
  .index-row__header .title img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .index-row .see_more {
    display: none;
  }
  .index-row .mobile_more {
    width: 100%;
  }
  .index-row_products .index-row__body > .row > div:nth-child(3) {
    display: none;
  }
  .index-row_products .index-row__body > .row > div:last-child {
    display: none;
  }
  .seo-scroller {
    padding: 0 0 20px;
  }
  .seo-scroller__image {
    height: 320px;
    margin: 0 0 20px;
  }
  .seo-scroller__content {
    height: 320px;
  }
  .brand_block {
    margin: 0 0 10px;
  }
  .brand_block .brand_list li a {
    padding: 4px 0;
  }
  .profile_order-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile_order-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile_order-body .items .order_item {
    padding: 0 0 4px;
  }
  .profile_order-body .price {
    text-align: left;
    width: 100%;
  }
  .simple_form .form_title {
    padding: 0 0 0px;
    margin: 0 0 10px;
  }
  .nav-pills .nav-link {
    font-size: 14px;
    padding: 5px 10px;
  }
  .balance_info .main_info .balance_row {
    max-width: 100%;
  }
  .balance_info .main_info .balance_row .right_part {
    width: auto;
    text-align: right;
  }
  .profile_subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile_subscribe-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .subscribe_button {
    display: block;
    margin: 30px auto;
  }
  .notification_block {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px 20px;
    margin-bottom: 15px;
  }
  .notification_block .wrapper_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .notification_block .wrapper_left .text {
    padding: 15px 0;
  }
  .notification_block .wrapper_left .text b {
    font-size: 24px;
    line-height: 30px;
  }
  .notification_block .wrapper_left .text span {
    line-height: 22px;
    padding-top: 5px;
  }
  .wrapper_404 {
    padding: 20px 0 0;
  }
  .wrapper_404 .title {
    font-size: 26px;
    line-height: 44px;
  }
  .wrapper_404 .to-index {
    margin: 20px 0 30px;
  }
  .wrapper_404 .error_code {
    font-size: 130px;
    line-height: 110px;
  }
  .contacts-block {
    padding: 0 0 20px;
  }
  .contacts-block__map-container {
    height: 230px;
  }
  .compare-component__product-scroller .product_card {
    width: calc(100% / 2 - 5px);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 2 - 5px);
    flex: 0 0 calc(100% / 2 - 5px);
  }
  .params-table__row-item {
    width: calc((100vw - 30px - 18px) / 2);
  }
  .top-slider__slide {
    overflow: hidden;
  }
  .top-slider__slide-content {
    padding: 0 40px 0 0;
  }
  .top-slider__slide-title {
    font-size: 6vh;
    line-height: 7vh;
  }
  .top-slider__slide-title:before {
    top: -60px;
    right: -50px;
    width: 300px;
    height: 170px;
    background-size: contain;
  }
  .arrow-button__text {
    font-size: 14px;
  }
  .index-products {
    padding: 25px 0;
  }
  .products-slider {
    padding: 0;
  }
  .products-slider__text-over {
    font-size: 12vw;
    line-height: 13vw;
  }
  .products-slider .slick-dots {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0 0;
  }
  .products-slider .slick-dots li {
    width: 30px;
    height: 30px;
    margin: 0 4px;
  }
  .products-slider .slick-dots li.slick-active {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .products-slider .slick-dots li button {
    font-size: 14px;
  }
  .products-slider .slick-dots li button:after {
    display: none;
  }
  .products-slider__slide-image {
    height: 300px;
  }
  .product-container {
    padding: 4vw 5vw;
    height: auto;
  }
  .product-container:before {
    width: 160px;
    height: 140px;
    top: 96%;
    right: -18px;
  }
  .product-container:after {
    bottom: -30px;
    right: -25px;
    width: 60px;
    height: 60px;
  }
  .product-container__title {
    padding: 0 0 5px;
    font-size: 20px;
    line-height: 28px;
  }
  .product-container__text {
    font-size: 13px;
    line-height: 18px;
  }
  .product-container__info {
    height: 200px;
  }
  .product-container__button {
    margin: 15px 0 0;
  }
  .product-container__image-container {
    top: 100%;
    bottom: 0;
  }
  .product-container__image-container:before {
    display: none;
  }
  .product-container__image-container img {
    max-width: 100%;
    max-height: 300px;
  }
}

@media (max-width: 575px) {
  .wide_product_card .left_part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .wide_product_card .left_part .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .wide_product_card .left_part .wrapper .title {
    margin: 10px 0 0;
  }
  .wide_product_card .left_part .price_col {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .wide_product_card .left_part .price_col .sell_price {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .wide_product_card .right_part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .wide_product_card .right_part .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin: 10px 0 0;
  }
  .wide_product_card .right_part .buttons .add_to_cart {
    margin: 0;
  }
  .product__top-info {
    padding: 0 0 15px;
  }
  .product-form__title {
    line-height: 26px;
    padding: 5px 0 10px;
    font-size: 18px;
  }
  .product-form__labels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product-form__price-row {
    margin: 5px 0 0;
    padding: 15px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .product-price {
    padding-bottom: 10px;
  }
  .product-price__price_sell-price {
    font-size: 20px;
  }
  .product-options__variation {
    width: 50px;
    height: 50px;
  }
  .product-slider__container-slide {
    height: 260px;
  }
  .nav-tabs .nav-link {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
  }
  .tab-pane__characteristic-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8px 0 0;
  }
  .tab-pane__characteristic-row b {
    width: 100%;
  }
  .tab-pane__characteristic-row span {
    font-size: 14px;
  }
  .extra_products-slider {
    padding: 15px 0;
  }
  .extra_products-slider .slider-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .extra_products-slider .slider-header .title {
    font-size: 22px;
    padding-bottom: 5px;
  }
  .order_items .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .order_items .item .info {
    max-width: none;
  }
  #bootslider .carousel-inner .carousel-item {
    height: 230px;
  }
  #bootslider .carousel-inner .carousel-item .wrapper {
    padding: 0 15px;
  }
  #bootslider .carousel-inner .carousel-item .wrapper .title {
    font-size: 20px;
    line-height: 26px;
  }
  #bootslider .carousel-inner .carousel-item .wrapper .desc {
    font-size: 15px;
    padding: 2px 0;
  }
  #bootslider .carousel-inner .carousel-item .wrapper .slider_link {
    font-size: 14px;
  }
  .seo-scroller__image {
    height: 190px;
  }
  .seo-scroller__content {
    height: 280px;
  }
  .catalog_item {
    padding: 15px 25px;
  }
  .catalog_item b {
    padding-bottom: 5px;
  }
  .simple_form {
    padding: 15px 15px 20px;
  }
  .news-block {
    margin: 0 0 15px;
  }
  .compare-component.scrolled {
    padding: 251px 0 0;
  }
  .compare-component.scrolled .compare-component__product-scroller {
    padding: 10px 5px 25px !important;
  }
  .compare-component__categories-item {
    margin: 0 5px 5px 0;
  }
  .compare-component__product-scroller {
    padding: 0 5px 25px;
  }
  .compare-component__product-scroller .product_card .img_wrapper {
    height: 114px;
  }
  .compare-component__product-scroller .product_card .img_wrapper .badges {
    top: 0;
    left: 5px;
  }
  .compare-component__product-scroller .product_card .img_wrapper .badges .badge {
    font-size: 0.5rem;
    padding: 0.15rem 0.3rem;
    margin: 0 3px 0 0;
  }
  .compare-component__product-scroller .product_card .info {
    height: 110px;
    padding: 10px;
  }
  .compare-component__product-scroller .product_card .info .title {
    font-size: 12px;
    line-height: 14px;
  }
  .compare-component__product-scroller .product_card .info .desc {
    font-size: 12px;
    line-height: 14px;
  }
  .compare-component__product-scroller .product_card .info .price_row {
    bottom: 5px;
    left: 10px;
  }
  .compare-component__product-scroller .product_card .info .price_row .price, .compare-component__product-scroller .product_card .info .price_row .sell_price {
    font-size: 12px;
    line-height: 14px;
  }
  .compare-component__product-scroller .product_card .info .price_row s {
    display: block;
    margin: 2px 0 0;
    font-size: 10px;
  }
  .compare-component__params-wrapper {
    padding: 5px 0 0;
  }
  .params-table__title {
    font-size: 14px;
    padding: 5px 0;
  }
  .params-table__row-title {
    padding: 5px 0;
  }
  .params-table__row-item {
    padding: 30px 0 5px;
    font-size: 14px;
    line-height: 18px;
  }
  .top-slider__slide-content {
    padding: 0;
  }
  .top-slider__slide-title {
    text-align: center;
  }
  .top-slider__slide-title:before {
    display: none;
  }
  .top-slider__slide-button {
    margin: 25px auto 0;
    height: 60px;
    width: 230px;
  }
  .section-about__company-title {
    padding: 5px 0 0 50px;
    font-size: 44px;
    line-height: 52px;
  }
  .section-about__company-desc {
    font-size: 24px;
  }
  .section-about__part-one {
    padding: 30px 0 10px;
  }
  .about-block {
    padding: 20px 45px 20px 0;
  }
  .about-block__title {
    font-size: 24px;
    line-height: 28px;
  }
  .about-block__desc {
    padding: 15px 0 0 80px;
    font-size: 14px;
    line-height: 20px;
  }
}

/*# sourceMappingURL=media.css.map */
