@charset "UTF-8";
/*	Хлебные крошки
---------------------------------------*/
.breadcrumb {
  background: none;
  padding-left: 0;
}

.breadcrumbs {
  padding: 28px 0 8px;
}

.breadcrumbs ul {
  display: block;
  font-size: 0;
}

.breadcrumbs ul li {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  color: #818a91;
}

.breadcrumbs ul li a {
  color: #ffcc00;
}

.breadcrumbs ul li a:hover {
  text-decoration: underline;
}

.breadcrumbs ul li:not(:last-child):after {
  content: '/';
  margin: 0 10px 0 5px;
  color: #818a91;
  font-size: 16px;
  font-weight: 400;
}

.page {
  padding-bottom: 90px;
}

/*	Сайдбар
---------------------------------------*/
.sidebar {
  margin: 0 0 30px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.sidebar ul {
  position: relative;
  overflow: hidden;
}

.sidebar ul > li {
  display: block;
}

.sidebar ul > li > a {
  -webkit-display: flex;
  -webkit-align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  color: #373a3c;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sidebar ul > li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.sidebar ul > li > a span {
  -webkit-display: flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 47px;
  min-height: 45px;
  height: 100%;
}

.sidebar ul > li > a span img {
  max-width: 20px;
  max-height: 19px;
}

.sidebar ul > li:last-child a:after {
  display: none;
}

.sidebar ul > li:hover a {
  background-color: #f5f5f5;
}

.sidebar ul > li.current-menu-item a, .sidebar ul > li.current_page_item a {
  background-color: #ffcc00;
  color: #fff;
}

/* Заголовок для таблицы
---------------------------------------*/
.table-title, .content .table h3 {
  padding: 10px 20px;
  border: 0;
  letter-spacing: 0.3px;
  background-color: #ffcc00;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

/*	Контентная часть текстовой страницы
---------------------------------------*/
.content {
  position: relative;
  /*	Сотрудник
	---------------------------------------*/
}

.content-text ol ol, .content-text ol ul, .content-text ul ol, .content-text ul ul {
  padding-top: 8px;
}

.content-text h1 {
  padding: 0 0 12px;
  color: #373a3c;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
}

.content-text h2 {
  padding: 12px 0;
  color: #373a3c;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.content-text h3 {
  padding: 12px 0 5px;
  color: #373a3c;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.content-text p {
  padding: 0 0 16px;
  color: #373a3c;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.content-text a {
  color: #ffcc00;
  text-decoration: underline;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.content-text a:hover, .content-text afocus {
  color: #0056b3 !important;
}

.content-text a:visited {
  color: #7a339e !important;
}

.content-text ol + h3, .content-text ul + h3 {
  padding-top: 16px;
}

.content-text ol {
  padding: 4px 0 0;
  margin-left: 28px;
}

.content-text ol > li {
  color: #373a3c;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  list-style-type: decimal;
  padding-bottom: 8px;
  padding-left: 8px;
}

.content-text ol ul li:last-child {
  padding-bottom: 0;
}

.content-text ul {
  margin-left: 35px;
  padding-top: 4px;
}

.content-text ul > li {
  position: relative;
  color: #373a3c;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 8px;
}

.content-text ul > li:before {
  content: '–';
  position: absolute;
  left: -20px;
}

.content-text img {
  width: 100%;
  height: auto;
  margin: 14px 0 17px;
  -o-object-fit: cover;
  object-fit: cover;
}

.content-text img.noresize {
  height: auto !important;
}

.content .content-text + .quote {
  margin-top: 20px;
}

.content .quote {
  position: relative;
  border-left: 6px solid #ffcc00;
  padding: 21px 18px;
  margin: 10px 0 20px;
  background-color: #f8f8f8;
}

.content .quote-text {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.content .files {
  padding: 0px 0 8px;
  margin: 15px 0 0;
}

.content .files .file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 8px 0 22px;
}

.content .files .file-thumbnail {
  display: inline-block;
  min-width: 33px;
  width: 33px;
  height: 40px;
  margin-top: 3px;
}

.content .files .file-thumbnail > svg {
  width: 100%;
  height: 100%;
  fill: #ffcc00;
}

.content .files .file-info {
  display: inline-block;
  padding: 1px 0 0 13px;
}

.content .files .file-info .name {
  display: block;
  color: #373a3c;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  line-height: 22px;
}

.content .files .file-info .name em {
  font-style: normal;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.content .files .file-info .size {
  display: block;
  color: #898989;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 4px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

.content .files .file:hover .file-info .name {
  color: #ffcc00;
  text-decoration: underline;
}

.content .table {
  padding: 0 0 20px;
  margin: 0;
}

.content .table-responsive {
  border: 1px solid #eaeaea;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content .table table {
  width: 100%;
}

.content-text table th, .content-text table td {
  color: #373a3c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 17px;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.content-text table th:last-child, .content-text table td:last-child {
  border-right: 0;
}

.content-text table thead tr th {
  color: #999;
  background-color: #f5f5f5;
}

.content-text table tbody tr:first-child td {
  color: #999;
  background-color: #f5f5f5;
}

.content-text table tbody tr:last-child td {
  border-bottom: 0;
}

.content .text_underline {
  padding: 12px 0;
}

.content .text_underline p {
  border-bottom: 2px solid #ffcc00;
  padding: 0 0 11px;
  color: #373a3c;
  font-size: 24px;
  font-weight: 700;
}

.content .certificates {
  padding: 12px 0 16px;
}

.content .certificates .certificate-thumbnail {
  position: relative;
  display: block;
  width: calc(100% - 24px);
  height: 174px;
  border: 1px solid #eaeaea;
  border-bottom-color: #d9d9d9;
  margin: 6px 0 5px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.content .certificates .certificate-thumbnail:before {
  content: '';
  position: absolute;
  right: -27px;
  bottom: 0;
  width: 26px;
  height: 36px;
  border-top: 36px solid #d9d9d9;
  border-right: 26px solid transparent;
}

.content .certificates .certificate-thumbnail:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(54, 58, 59, 0.7);
  background-size: 30px 30px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzAgMzAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yOS42IDI3LjhsLTYuNi02LjVjMi0yLjMgMy4yLTUuMiAzLjItOC40IDAtNy4xLTUuOS0xMi45LTEzLjEtMTIuOS03LjIgMC0xMy4xIDUuOC0xMy4xIDEyLjlzNS45IDEyLjkgMTMuMSAxMi45YzMgMCA1LjgtMSA4LTIuN2w2LjcgNi42Yy4zLjMuNS40LjkuNHMuNy0uMS45LS40Yy41LS42LjUtMS40IDAtMS45em0tMjctMTQuOGMwLTUuNyA0LjctMTAuMyAxMC41LTEwLjNzMTAuNSA0LjYgMTAuNSAxMC4zLTQuNyAxMC4zLTEwLjUgMTAuMy0xMC41LTQuNi0xMC41LTEwLjN6TTE4LjMgMTEuNWgtMy45di0zLjhjMC0uOC0uNS0xLjMtMS4zLTEuM3MtMS4zLjUtMS4zIDEuM3YzLjdoLTMuOGMtLjggMC0xLjMuNS0xLjMgMS4zcy41IDEuMyAxLjMgMS4zaDMuOHYzLjljMCAuOC41IDEuMyAxLjMgMS4zczEuMy0uNiAxLjMtMS4zdi0zLjloMy45Yy43IDAgMS4zLS41IDEuMy0xLjNzLS41LTEuMi0xLjMtMS4yeiIvPjwvc3ZnPg==);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.content .certificates .certificate-thumbnail:hover:after {
  opacity: 1;
}

.content .certificates .certificate-thumbnail.w_certificates {
  min-height: 174px;
  -o-object-fit: cover;
  object-fit: cover;
}

.content .certificates .certificate-sign p {
  display: block;
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

.content .gallery .item {
  padding: 10px 0 22px;
}

.content .gallery .item-thumbnail {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 10px;
  border: 1px solid #eaeaea;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content .gallery .item-thumbnail:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(54, 58, 59, 0.7);
  background-size: 30px 30px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzAgMzAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yOS42IDI3LjhsLTYuNi02LjVjMi0yLjMgMy4yLTUuMiAzLjItOC40IDAtNy4xLTUuOS0xMi45LTEzLjEtMTIuOS03LjIgMC0xMy4xIDUuOC0xMy4xIDEyLjlzNS45IDEyLjkgMTMuMSAxMi45YzMgMCA1LjgtMSA4LTIuN2w2LjcgNi42Yy4zLjMuNS40LjkuNHMuNy0uMS45LS40Yy41LS42LjUtMS40IDAtMS45em0tMjctMTQuOGMwLTUuNyA0LjctMTAuMyAxMC41LTEwLjNzMTAuNSA0LjYgMTAuNSAxMC4zLTQuNyAxMC4zLTEwLjUgMTAuMy0xMC41LTQuNi0xMC41LTEwLjN6TTE4LjMgMTEuNWgtMy45di0zLjhjMC0uOC0uNS0xLjMtMS4zLTEuM3MtMS4zLjUtMS4zIDEuM3YzLjdoLTMuOGMtLjggMC0xLjMuNS0xLjMgMS4zcy41IDEuMyAxLjMgMS4zaDMuOHYzLjljMCAuOC41IDEuMyAxLjMgMS4zczEuMy0uNiAxLjMtMS4zdi0zLjloMy45Yy43IDAgMS4zLS41IDEuMy0xLjNzLS41LTEuMi0xLjMtMS4yeiIvPjwvc3ZnPg==);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.content .gallery .item-thumbnail:hover:after {
  opacity: 1;
}

.content .gallery .item-sign p {
  display: block;
  color: #898989;
  font-size: 14px;
  font-weight: 400;
}

.content .people {
  padding: 10px 0 0;
}

.content .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border: 1px solid #eaeaea;
  padding: 15px;
  margin-bottom: 15px;
}

.content .person img, .content .person i {
  display: inline-block;
  height: 150px;
  width: 150px;
  min-width: 150px;
}

.content .person i {
  background-color: #eff2f4;
  position: relative;
}

.content .person i svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 71px;
  width: 80px;
  fill: #d8dee1;
}

.content .person .info {
  padding-left: 20px;
}

.content .person .info b {
  display: block;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 4px 0 3px;
}

.content .person .info span {
  display: block;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 26px;
}

.content .person .info p {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 4px;
}

.content .person .info p svg {
  fill: #d73636;
  margin-right: 7px;
}

.content .person .info p.phone svg {
  width: 12px;
  height: 9px;
}

.content .person .info p.email svg {
  height: 12px;
  width: 12px;
}

@media (max-width: 991px) {
  .flexslider.carousel {
    display: none;
  }
  .flex-direction-nav li {
    display: none !important;
  }
}

@media (max-width: 767px) {
  /* Заголовок для таблицы
	---------------------------------------*/
  .table-title, .content .table h3 {
    font-size: 14px;
    padding: 10px 25px;
  }
  .page {
    padding-bottom: 15px;
  }
  /*	Контентная часть текстовой страницы
	---------------------------------------*/
  .content-text ol, .content-text ul {
    padding-top: 2.5px;
  }
  .content-text h1 {
    font-size: 28px;
    line-height: 32px;
    padding: 5px 0 10px;
    font-size: 26px;
  }
  .content-text h2 {
    font-size: 18px;
    padding: 2.5px 0 0;
    line-height: 26px;
  }
  .content-text h3 {
    font-size: 14px;
    padding: 5px 0 0;
    line-height: 20px;
  }
  .content-text p {
    font-size: 15px;
    line-height: 23px;
    padding: 2.5px 0 5px;
  }
  .content-text ol {
    padding: 2.5px 0;
    margin-left: 15px;
  }
  .content-text ol > li {
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 2.5px;
  }
  .content-text ul {
    margin-left: 15px;
  }
  .content-text ul > li {
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 2.5px;
  }
  .content-text ul > li:before {
    left: -20px;
  }
  .content-text img {
    margin: 5px 0;
  }
  .content .content-text + .quote {
    margin-top: 10px;
  }
  .content .quote {
    padding: 5px 10px;
    margin: 10px 0;
  }
  .content .quote::before, .content .quote::after {
    width: 26px;
    height: 24px;
    background-size: 14px 12px;
  }
  .content .quote::before {
    top: -13px;
    left: -11px;
  }
  .content .quote::after {
    right: -11px;
    bottom: -13px;
  }
  .content .quote-text {
    font-size: 15px;
    line-height: 23px;
    line-height: 20px;
  }
  .content .files {
    padding: 5px 0;
    margin: -5px 0;
  }
  .content .files .file {
    padding: 6px 0;
  }
  .content .files .file-thumbnail {
    min-width: 26px;
    width: 26px;
    height: 32px;
  }
  .content .files .file-info {
    padding: 0 0 0 10px;
  }
  .content .files .file-info .name {
    font-size: 15px;
    line-height: 23px;
  }
  .content .files .file-info .size {
    font-size: 11px;
  }
  .content .table {
    padding: 6px 0;
  }
  .content-text table th, .content-text table td {
    font-size: 15px;
    line-height: 23px;
    padding: 8px 10px;
  }
  .content .text_underline {
    padding: 2.5px 0 5px;
  }
  .content .text_underline p {
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 2.5px;
  }
  .content .certificates {
    padding: 5px 0;
  }
  .content .certificates .certificate-thumbnail {
    margin: 5px 0 2.5px;
  }
  .content .certificates .certificate-sign p {
    font-size: 11px;
  }
  .content .gallery .item {
    padding: 5px 0;
  }
  .content .gallery .item-thumbnail {
    margin: 0 0 2.5px;
  }
  .content .gallery .item-sign p {
    font-size: 11px;
  }
  .content .person .info {
    padding: 0;
  }
  .content .person .info span {
    margin-bottom: 10px;
  }
  .breadcrumbs {
    padding: 14px 0 8px;
  }
  .breadcrumbs ul li:after {
    margin: 0 3px;
  }
}

/*# sourceMappingURL=post.css.map */
