{% extends "base.html" %}
{% load pages cache %}

{% block content %}


<div class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="/">Главная</a>
                            </li>
                            <li>
                                <a href="/">Каталог</a>
                            </li>
                            {% if object.get_ancestors %}
                                    {% for item in object.get_ancestors.all %}
                                        <li>
                                            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            <li> 
                                <span>{{ object.title }}</span>
                            </li>
                        </ul>
                    </div>
                    <p class="page_title">{% if search %}Товары по запросу: "{{ search }}"{% else %}{{ object.title }}{% endif %}</p>
                </div>
                {% include "./includes/filters.html" %}
                <div class="col-12 col-xl-9">
                    <div class="list_link">

                        {% if object.get_children or object.parent.get_children %}
                            {% if object.get_children %}
                                {% for item in object.get_children %}
                                <a {% if request.META.PATH_INFO == item.get_absolute_url %}class="active"{% endif %} href="{{ item.get_absolute_url }}">{{ item.title }}
                                    <span>{{ item.get_products_count }}</span>
                                </a>
                                {% endfor %}
                            {% else %}
                                {% for item in object.parent.get_children %}
                                <a {% if request.META.PATH_INFO == item.get_absolute_url %}class="active"{% endif %} href="{{ item.get_absolute_url }}">{{ item.title }}
                                        <span>{{ item.get_products_count }}</span>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <form class="sort_parameters" action="">
                        <div class="order_by">Сортировать по:
                            <select name="sort_by">
                                <option>названию ↑</option>
                                <option>названию ↓</option>
                                <option>цене ↑</option>
                                <option>цене ↓</option>
                                <option>категориям ↑</option>
                                <option>категориям ↓
                                    <svg role="img" width="8" height="5">
                                        <use xlink:href="/static/images/sprite.svg#caret-bottom"></use>
                                    </svg>
                                </option>
                                <option>цене ↑</option>
                                <option>категориям ↑</option>
                            </select>
                        </div>
                        <div class="layout_types">
                            <button {% if tile %}class="active"{% endif %} type="button" data-type="tile">
                                <svg role="img" width="14" height="14">
                                    <use xlink:href="/static/images/sprite.svg#grid-three-up"></use>
                                </svg>
                            </button>
                            <button {% if not tile %}class="active"{% endif %} type="button" data-type="wide">
                                <svg role="img" width="16" height="14">
                                    <use xlink:href="/static/images/sprite.svg#list"></use>
                                </svg>
                            </button>
                        </div>
                    </form>
                    {% block category_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
   

{% endblock %}