{% extends "./base-category.html" %}


{% block category_content %}

    {% if products %}
        <div class="products-container">
            <div class="row change_products">
                {% if tile %}
                {% for product in products %}
                    <div class="col-12 col-md-6 col-lg-4">
                        {% include "catalog/product-card.html" %}
                    </div>
                {% endfor %}
                {% else %}
                    {% for product in products %}
                    <div class="col-12">
                        {% include "catalog/product-card-wide.html" %}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="paginationBlock">
            {{ pagination }}
            </div>
        </div>
    {% else %}
        <p>В данной категории товар временно отсутствует, однако появится в ближайшее время. Пока предлагаем вам ознакомиться с продукцией в других разделах.</p>
    {% endif %}

{% endblock %}
