{% extends 'catalog/product-card.html' %}
{% block top %}
<button class="remove_product" type="button" data-url="{% url 'favorites-add' %}"></button>
<button class="restore_product" type="button" data-url="{% url 'favorites-restore' %}" >
    <svg role="img" width="20" height="19">
        <use xlink:href="/static/images/sprite.svg#arrow_reload"></use>
    </svg>
</button>
{% endblock %}