{% extends "base.html" %}
{% load thumbnail %}


{% block content %}
<div class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="/">Главная</a>
                            </li>
                            <li>
                                <a href="/catalog/">Каталог</a>
                            </li>
                            {% for item in object.category.get_family %}
                            <li> 
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                            </li>
                            {% endfor %}
                            {% for item in object.get_family %}
                            <li> 
                                {% if forloop.last %}
                                <span>{{ item.title }}</span>
                                {% else %}
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a class="back-to-catalog" href="/"> 
                        <svg role="img" width="8" height="5">
                            <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                        </svg>Назад к списку товаров
                    </a>
                </div>
                <div class="col-12">
                    <div class="product__top-info" itemscope="" itemtype="http://schema.org/Product">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                {% if object.thumbnail or object.product_gallery.all %}
                                <div class="product-slider">
                                    <div class="product-slider__container">
                                            <a class="product-slider__container-slide item-thumbnail" href="{{object.thumbnail.url}}" data-lightbox="gallery-set">
                                                <img itemprop="image" src="{{object.thumbnail.url}}" alt=""/>
                                            </a>
                                        {% for p in object.product_gallery.all %}
                                        <a class="product-slider__container-slide item-thumbnail" href="{{object.thumbnail.url}}" data-lightbox="gallery-set">
                                            <img itemprop="image" src="{{p.photo.url}}" alt=""/>
                                        </a>
                                        {% endfor %}
                                    </div>
                                    <div class="product-slider__carousel">
                                        <div class="product-slider__carousel-item">
                                            <img src="{{object.thumbnail.url}}" alt=""/>
                                        </div>
                                        {% for p in object.product_gallery.all %}
                                        <div class="product-slider__carousel-item">
                                            <img src="{{p.photo.url}}" alt=""/>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="product-photo">
                                	<svg role="img" width="80" height="80">
                                		<use xlink:href="/static/images/sprite.svg#no_photo"></use>
                                	</svg>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-12 col-lg-6">
                                <form class="product-form" action="{% url 'cart-add' %}" method="POST">
                                    <p class="page_title product-form__title" itemprop="name">{{ object.title }}</p>
                                    <div class="product-form__labels">
                                        <span class="product-form__vendor-code"> {% if object.code %}Артикул: {{ object.code }}{% endif %}</span>
                                        <div class="badges">
                                            {% if object.new %}
                                            <span class="badge badge-success">Новинка</span>
                                            {% endif %}
                                            {% if object.hit %}
                                            <span class="badge badge-warning">Хит!</span>
                                            {% endif %}
                                            {% if object.sale %}
                                            <span class="badge badge-danger">-30%</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% comment %}
                                    <div class="product-options">
                                        <b class="product-options__title">Другие вариации</b>
                                        <div class="wrapper">
                                            <a class="product-options__variation product-options__variation_active" href="#">
                                                <img src="/static/images/product_phone.jpg" alt=""/>
                                            </a>
                                            <a class="product-options__variation" href="#">
                                                <img src="/static/images/product_phone.jpg" alt=""/>
                                            </a>
                                            <a class="product-options__variation" href="#">
                                                <img src="/static/images/product_phone.jpg" alt=""/>
                                            </a>
                                            <a class="product-options__variation" href="#">
                                                <img src="/static/images/product_phone.jpg" alt=""/>
                                            </a>
                                            <a class="product-options__variation" href="#">
                                                <img src="/static/images/product_phone.jpg" alt=""/>
                                            </a>
                                        </div>
                                    </div>
                                    {% endcomment %}
                                    {% if object.colors.all %}
                                    <div class="product-options">
                                        <b class="product-options__title">Цвет товара</b>
                                        {% for item in object.colors.all %}
                                        <label class="color-checkbox color-checkbox_white_color" for="checkbox-{{ item.id }}">
                                            <input type="radio" id="checkbox-{{ item.id }}" name="product-color" value="{{ item.id }}" {% if forloop.first %}checked="checked"{% endif %}/>
                                            <s class="new_checkbox" style="background-color: {{ item.value.hex_color }};">
                                                <svg role="img" width="10" height="8">
                                                    <use xlink:href="/static/images/sprite.svg#checkbox_arrow"></use>
                                                </svg>
                                            </s>
                                        </label>
                                        {% endfor  %}
                                    </div>
                                    {% endif %}
                                    <div class="product-form__price-row">
                                        <div class="product-price" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                            <meta itemprop="price" content="10 990"/>
                                            <meta itemprop="priceCurrency" content="руб."/>
                                            <link itemprop="availability" href="http://schema.org/InStock"/>
                                            <span class="product-price__status {% if object.count %}product-price__status_available{% endif %}">{% if object.count %}В наличии{% else %}Нет в наличии{% endif %}</span>
                                            <b class="product-price__price product-price__price_sell-price">{{ object.price }} руб.
                                                {% if object.old_price %}
                                                <s class="product-price__old_price">{{ object.old_price }} руб.</s>
                                                {% endif %}
                                            </b>
                                        </div>
                                        {% if object.count %}
                                                <input type="hidden" name="product-id" value="{{ object.id }}"/>
                                            <div class="wrapper">
                                                <div class="product-amount">
                                                    <div class="product-amount__button product-amount__button_minus">&#9668;</div>
                                                    <div class="product-amount__field">
                                                        <input type="number" name="product-count" min="1" max="{{object.count}}" value="1"/>
                                                    </div>
                                                    <div class="product-amount__button product-amount__button_plus">&#9658;</div>
                                                </div>
                                                <button class="modal_trigger add-to-cart btn btn-primary btn-lg" type="button" data-target="#custom_modal-0">В корзину
                                                    <div class="go-to-cart">
                                                        <span>Товар добавлен в корзину</span>
                                                        <a class="btn btn-primary" href="#">Перейти в корзину</a>
                                                    </div>
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </form>
                                    <div class="product-form__buttons-wrapper">
                                        <button class="product-form__button add_to_favorites {% if object in favorites.items %}active{% endif %}" type="button" data-product="{{ object.id }}" data-url="{% url 'favorites-add' %}">
                                            <svg role="img" width="16" height="14">
                                                <use xlink:href="/static/images/sprite.svg#heart"></use>
                                            </svg>Добавить в избранное
                                        </button>
                                        <button class="product-form__button compare" type="button">
                                            <svg role="img" width="14" height="14">
                                                <use xlink:href="/static/images/sprite.svg#compare_icon"></use>
                                            </svg>Добавить к сравнению
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="product-tabs">
                        <ul class="nav-tabs nav" id="myTab" role="tablist"><li class="nav-item">
<a class="nav-link{% if object.description %} active{% else %} disabled{% endif %}" id="tab-1" data-toggle="tab" href="#tab_container-1" role="tab" aria-controls="tab_container-1" aria-selected="true">Описание</a>
</li>
<li class="nav-item">
<a class="nav-link{% if not object.description and object.product_attrbutes.all %} active{% endif %}{% if not object.product_attrbutes.all %} disabled{% endif %}" id="tab-2" data-toggle="tab" href="#tab_container-2" role="tab" aria-controls="tab_container-2" aria-selected="false">Характеристики</a>
</li>
<li class="nav-item">
<a class="nav-link{% if not object.description and not object.product_attrbutes.all %} active{% endif %}" id="tab-3" data-toggle="tab" href="#tab_container-3" role="tab" aria-controls="tab_container-3" aria-selected="false">Отзывы</a>
</li>

                        </ul>
                        <div class="tab-content" id="tab-content-1"><div class="tab-pane fade {% if object.description %} show active{% endif %}" id="tab_container-1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="tab-pane__text">
                                <div class="content-text" itemprop="description">
                                        {{ object.description|safe }}
                                </div>
                            </div></div>
<div class="tab-pane fade {% if not object.description and object.product_attrbutes %} active show{% endif %}" id="tab_container-2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="tab-pane__characteristics">
                                {% for item in object.product_attrbutes.all %}
                                    <div class="tab-pane__characteristic-row">
                                            <b>{{ item.group.title }}</b>
                                            <span>{{ item.value.title }}</span>
                                        </div>
                                {% endfor %}
                            </div></div>
<div class="tab-pane fade {% if not object.description and not object.product_attrbutes.all %} active show{% endif %}" id="tab_container-3" role="tabpanel" aria-labelledby="tab-3">Disqus</div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="conditions">
                        <div class="block">
                            <div class="title">
                                <svg role="img" width="26" height="19">
                                    <use xlink:href="/static/images/sprite.svg#wallet"></use>
                                </svg>
                                <b>Оплата</b>
                            </div>
                            <p>Краткое описание о способах оплаты. Информация об оптовых и розничных ценах. Минимальнаы сумма заказа.</p>
                        </div>
                        <div class="block">
                            <div class="title">
                                <svg role="img" width="26" height="19">
                                    <use xlink:href="/static/images/sprite.svg#delivery"></use>
                                </svg>
                                <b>Доставка</b>
                            </div>
                            <p>Краткое описание о способах и сроках доставки. Информация о бесплатной доставке. Регионы доставки</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="extra_products-slider">
                        <div class="slider-header">
                            <b class="title">Похожие товары</b>
                            <div class="nav-buttons">
                                <a class="prev" href="#">
                                    <svg role="img" width="6" height="9">
                                        <use xlink:href="/static/images/sprite.svg#small_arrow"></use>
                                    </svg>
                                </a>
                                <a class="next" href="#">
                                    <svg role="img" width="6" height="9">
                                        <use xlink:href="/static/images/sprite.svg#small_arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="slider-body">
                            {% for product in similar_products %}
                            {% include "catalog/product-card.html" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    {% for product in similar_products %}
                    {% include "catalog/product-card-wide.html" %}
                    {% endfor %}
                        
                </div>
            </div>
        </div>
    </div>

{% endblock %}












