{% extends "./base-category.html" %}
{% load thumbnail %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
            <li>
                <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" title="Главная" href="/">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="1"/>
                    </a>
                </span>
            </li>
            <li>
                <span itemscope="itemscope" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                    <span itemprop="name">Поиск</span>
                    <meta itemprop="position" content="2"/>
                </span>
            </li>
        </ul>
    </div>
{% endblock %}

{% block category_content %}

    {% if products %}
        <div class="products-container">
            <div class="row">
                {% if tile %}
                {% for product in products %}
                    <div class="col-12 col-md-6 col-lg-4">
                        {% include "catalog/product-card.html" %}
                    </div>
                {% endfor %}
                {% else %}
                    {% for product in products %}
                    <div class="col-12">
                        {% include "catalog/product-card-wide.html" %}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {{ more_button }}
        {{ pagination }}
    {% else %}
        <div class="empty-category">
            <svg class="empty-category__icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/sprite.svg#empty-box"></use></svg>
            <div class="empty-category__body">
                <p class="empty-category__title">Товар ещё не загружен</p>
                <p class="empty-category__text">В данной категории товар временно отсутствует, однако появится в ближайшее время. Пока предлагаем вам ознакомиться с продукцией в других разделах.</p>
            </div>
        </div>
    {% endif %}

{% endblock %}
