<div class="wide_product_card" data-product="{{ product.id }}">
        <a class="left_part" href="{{ product.get_absolute_url }}">
            <span class="wrapper">
                <span class="img_wrapper{% if not product.thumbnail %} no_photo{% endif %}">
                    {% if product.thumbnail %}
                    <img class="lazy" data-src="{{ product.thumbnail.url }}" alt=""/>
                    <!-- Картинка для ховера-->
                    <span class="hover_img"><img class="lazy" data-src="{{ product.thumbnail.url }}" alt=""/></span>
                    {% else %}
                    <svg role="img" width="18" height="18">
                            <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                        </svg>
                    {% endif %}
                </span>
                <span class="title">{{ product.title }}</span>
            </span>
            <span class="price_col">
                <span class="price">{{ product.price}} руб.</span>
            </span>
        </a>
        <form class="right_part" action="{% url 'cart-add' %}" method="POST">
            <div class="wrapper">
                <div class="badges">
                    {% if product.sale %} <span class="badge badge-danger">%</span> {% endif %}
                    {% if product.hit %} <span class="badge badge-warning">Хит!</span> {% endif %}
                    {% if product.new %} <span class="badge badge-success">Новинка</span> {% endif %}
                </div>
                <div class="amount">
                    <div class="product-amount">
                        <div class="product-amount__button product-amount__button_minus">&#9668;</div>
                        <div class="product-amount__field">
                            <input type="number" name="product-count" min="1" max="100" value="1"/>
                        </div>
                        <div class="product-amount__button product-amount__button_plus">&#9658;</div>
                    </div>
                </div>
                <input type="hidden" name="product-id" value="{{ product.id }}"/>
                {% if product.colors.all %}
                <input type="hidden" name="product-color" value="{{ product.first_color.id }}"/>
                {% endif %}
            </div>
            <div class="buttons">
                <button class="add_to_favorites" type="button" data-url="{% url 'favorites-add' %}">
                    <svg role="img" width="16" height="14">
                        <use xlink:href="/static/images/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button class="compare" type="button" data-url="{% url 'compare-add' %}">
                    <svg role="img" width="14" height="14">
                        <use xlink:href="/static/images/sprite.svg#compare_icon"></use>
                    </svg>
                </button>
                <button class="add_to_cart btn btn-outline-primary" type="submit">В корзину
                    <div class="go-to-cart">
                        <span>Товар добавлен в корзину</span>
                        <a class="btn btn-primary" href="{% url 'cart' %}">Перейти в корзину</a>
                    </div>
                </button>
            </div>
        </form>
    </div>