
        <a class="product_card" href="{{product.get_absolute_url}}" data-product="{{ product.id }}">
            {% block top %}
            {% endblock %}
            <div class="img_wrapper {% if not product.thumbnail %}no_photo{% endif %}">
                {% if product.thumbnail %}
                <img src="{{ product.thumbnail.url }}" alt=""/>
                {% else %}
                <svg role="img" width="20" height="20">
                    <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                </svg>
                {% endif %}
                <div class="badges">
                    {% if product.sale %} <span class="badge badge-danger">%</span> {% endif %}
                    {% if product.hit %} <span class="badge badge-warning">Хит!</span> {% endif %}
                    {% if product.new %} <span class="badge badge-success">Новинка</span> {% endif %}
                </div>
                <div class="hover_layer">
                    <form action="{% url 'cart-add' %}" method="POST">
                    <div class="buttons">
                        <button class="add_to_cart" type="submit">В корзину</button>
                        <input type="hidden" name="product-id" value="{{ product.id }}"/>
                        <input type="hidden" name="product-count" value="{{ product.id }}"/>
                        {% if product.colors.all %}
                        <input type="hidden" name="product-color" value="{{ product.first_color.id }}"/>
                        {% endif %}
                        <div class="right_buttons">
                            <button class="add_to_favorites"  data-url="{% url 'favorites-add' %}">
                                <svg role="img" width="16" height="14">
                                    <use xlink:href="/static/images/sprite.svg#heart"></use>
                                </svg>
                            </button>
                            <button class="compare"  data-url="{% url 'compare-add' %}">
                                <svg role="img" width="14" height="14">
                                    <use xlink:href="/static/images/sprite.svg#compare_icon"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="info">
                <span class="title">{{ product.title }}</span>
                <p class="desc">{{ product.subtitle }}</p>
                <div class="price_row">
                    <meta itemprop="price" content="price on application"/>
                    <meta itemprop="priceCurrency" content="руб."/>
                    <link itemprop="availability" href="http://schema.org/InStock"/>
                    {% if product.price %}
                    <span class="sell_price">{{ product.price }} руб.
                        {% if product.old_price %}
                        <s>{{ product.old_price }} руб.</s>
                        {% endif %}
                    </span>
                    {% else %}
                    <b class="no_price">Цена по запросу</b>
                    {% endif %}
                </div>
            </div>
        </a>