<div class="gallery">
    <div class="row">
        {% for item in gallery %}
            <div class="col-sm-{{ type }} col-6">
                <div class="item">
                    <a class="item-thumbnail" href="{{ item.image.url }}" data-lightbox="gallery-set" style="background-image: url('{{ item.image.url }}');"></a>
                    {% if item.image.description %}
                        <div class="item-sign">
                            <p>{{ item.image.description }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>