<form action="{% url 'order-service' %}" method="POST">
    <!-- Form data -->
    {% csrf_token %}
    <input type="hidden" name="subject" value="Заказать услугу">

    <label class="input">
        <span class="input__placeholder">Имя</span>
        <input class="input__field" type="text" name="name">
    </label>
    <label class="input">
        <span class="input__placeholder">Телефон</span>
        <input class="input__field" type="tel" name="phone">
    </label>
    <label class="form-accept">
        <input class="form-accept__input" type="checkbox" name="acceptance" checked/>
        <div class="form-accept__icon"></div>
        <p class="form-accept__text">Я согласен(а) на <a class="form-accept__link" target="_blank" href="{% url 'privacy-policy' %}">обработку персональных данных</a></p>
    </label>
    <input class="modal-service__submit" type="submit" value="Отправить заявку">
</form>