$f: Roboto;

$radius: 4px;

// Place-start color scheme
$color-ps-green: #5b8804;
$color-ps-light-green: #9dc02e;
$color-ps-dark-green: #0b381d;
$color-ps-green-primary: #1b3a1f;
$color-ps-orange: #eb601b;
$color-ps-yellow: #ffdc3b;
$color-ps-yellow-hover: #ffe674;
$color-ps-bg: #ededed;
$color-ps-bg-hover: #f3f3f3;
$color-ps-border: #eaeaea;

// Django color scheme
$color-django-green: #44B78B;
$color-django-green-primary: #0C4B33;
$color-django-text: #0C3C26;
$color-django-title: #C9F0DD;
$color-django-link: #6A0E0E;

// Text color scheme
$color-text: rgba(0,0,0,0.71);
$color-text-hover: $color-ps-orange;
$color-sign: #777;

// Header color scheme
$color-header-bg: #2a2d2e;
$color-header-text: #fff;
$color-header-text-hover: $color-ps-orange;
$color-header-border: #444;
$color-header-submenu-bg: #333;

$color-header-menu-text: #fff;
$color-header-menu-text-hover: #fff;
$color-header-menu-hover: #3f3f46;
$color-header-submenu-text-hover: #fff;
$color-header-submenu-hover: #3f3f46;

// Breadcrumbs color scheme
$color-breadcrumbs-bg: #2d2d2d;
$color-breadcrumbs-text: #fff;
$color-breadcrumbs-text-hover: $color-ps-orange;

$color-subhead-bg: #383838;

// Shadows
$z-vertical-depth-0: none;
$z-vertical-depth-1: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
$z-vertical-depth-2: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
$z-vertical-depth-3: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
$z-vertical-depth-4: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
$z-vertical-depth-5: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);

$z-horizon-depth-1: 2px 0 2px 0 rgba(0,0,0,0.14), 1px 0 5px 0 rgba(0,0,0,0.12), 3px 0 1px -2px rgba(0,0,0,0.2);
$z-horizon-depth-2: 4px 0 5px 0 rgba(0,0,0,0.14), 1px 0 10px 0 rgba(0,0,0,0.12), 2px 0 4px -1px rgba(0,0,0,0.3);
$z-horizon-depth-3: 6px 0 10px 0 rgba(0,0,0,0.14), 1px 0 18px 0 rgba(0,0,0,0.12), 3px 0 5px -1px rgba(0,0,0,0.3);