{% extends "base.html" %}
{% load thumbnail utils posts pages %}

{% block content %}


{% if settings.slider_items.all %}
    <section class="slider-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="carousel slide" id="bootslider" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for item in settings.slider_items.all %}
                            <li {% if forloop.first %}class="active"{% endif %} data-target="#bootslider" data-slide-to="{{forloop.counter}}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for item in settings.slider_items.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}" style="background-image: url('{{ item.image.url }}');">
                                <div class="wrapper wrapper_bg">
                                    <b class="title">{{ item.title }}</b>
                                    <p class="desc">{{ item.subtitle }}</p>
                                    <a class="slider_link btn btn-primary" href="{{ item.link }}">Узнать подробнее</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#bootslider" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">prev</span>
                        </a>
                        <a class="carousel-control-next" href="#bootslider" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% if offers %}
    <section class="index-row index-row_stock">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="index-row__header d-md-none">
                        <div class="title">Акции</div>
                    </div>
                    <div class="wrapper">
                        {% for offer in offers %}
                        <a class="stock-block" href="{{ offer.get_absolute_url }}">
                            <img src="{{ offer.thumbnail.url }}" alt=""/>
                            <div class="stock-block__hover-layer">
                                <span class="date">{{ offer.date }}</span>
                                <b class="title">{{ offer.title }}</b>
                                <p class="text">{{ offer.description }}</p>
                                <span class="button">Подробнее</span>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    <a class="mobile_more d-md-none" href="#">Смотреть все акции
                        <svg role="img" width="8" height="5">
                            <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endif %}
    {% if categories %}
    <section class="index-row index-row_categories">
        <div class="container">
            <div class="row">
                {% for cat in categories %}
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <a class="category-block" href="{{ cat.get_absolute_url }}">
                        {% if cat.thumbnail %}
                        <div class="category-block__img-wrapper">
                            <img src="{{ cat.thumbnail.url }}" alt=""/>
                        </div>
                        {% else %}
                        <div class="category-block__img-wrapper category-block__img-wrapper_no-photo">
                            <svg role="img" width="30" height="30">
                                <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                            </svg>
                        </div>
                        {% endif %}
                        <div class="category-block__info">{{ cat.title }}
                            <svg role="img" width="13" height="8">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <a class="category-block category-block_all-cats" href="/catalog/">
                        <div class="category-block__info">Смотреть все категории
                            <svg role="img" width="13" height="8">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="index-row index-row_products">
        <div class="container">
            <div class="row">
                {% if new_products %}
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">
                            <img src="/static/images/label_discount.png" width="32" height="32" alt="{% url 'products' %}?new=on"/>Новые поступления
                        </div>
                        <a class="see_more" href="{% url 'products' %}?new=on">Смотреть все
                            <svg role="img" width="8" height="5">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                            {% for product in new_products %}
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                {% include "catalog/product-card.html" %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="{% url 'products' %}?new=on">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
                {% endif %}
                {% if sale_products %}
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">
                            <img src="/static/images/label_sell.png" width="32" height="32" alt="{% url 'products' %}?sales=on"/>Распродажа
                        </div>
                        <a class="see_more" href="{% url 'products' %}?sales=on">Смотреть все
                            <svg role="img" width="8" height="5">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                                {% for product in sale_products %}
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    {% include "catalog/product-card.html" %}
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="#">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
                {% endif %}
                {% if hit_products %}
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">
                            <img src="/static/images/label_warning.png" width="32" height="32" alt="{% url 'products' %}?hit=on"/>Хиты продаж
                        </div>
                        <a class="see_more" href="{% url 'products' %}?hit=on">Смотреть все
                            <svg role="img" width="8" height="5">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                            {% for product in hit_products %}
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                {% include "catalog/product-card.html" %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="#">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% if news %}
    <section class="index-row index-row_news">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="index-row__header">
                        <div class="title">{{ news.title }}</div>
                        <a class="see_more" href="{{ news.get_absolute_url}}">Все статьи
                            <svg role="img" width="8" height="5">
                                <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="index-row__body">
                        <div class="row">
                            {% for post in news.get_last_posts %}
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <a class="article-block" href="{{ post.get_absolute_url }}">
                                    {% if post.thumbnail %}
                                    <span class="article-block__img-wrapper" style="background-image: url({{ post.thumbnail.url }});"></span>
                                    {% else %}
                                    <span class="article-block__img-wrapper article-block__img-wrapper_no-photo">
                                        <svg role="img" width="54" height="54">
                                            <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                                        </svg>
                                    </span>
                                    {% endif %}
                                    <span class="article-block__info">
                                        <b class="title">{{ post.title }}</b>
                                        <p class="text">{{post.description}}</p>
                                        <span class="date">
                                            <svg role="img" width="11" height="12">
                                                <use xlink:href="/static/images/sprite.svg#calendar"></use>
                                            </svg>{{ post.published_date }}
                                        </span>
                                    </span>
                                </a>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <a class="mobile_more d-md-none" href="{{ cat_news }}">Смотреть все
                        <svg role="img" width="8" height="5">
                            <use xlink:href="/static/images/sprite.svg#arrow_left"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <section class="seo-scroller">
        <div class="container">
            <div class="row">
                {% if settings.seo_text %}
                <div class="col-12 col-sm-6">
                    <div class="seo-scroller__image">
                        <img src="/static/images/seo-img.jpg" alt=""/>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="seo-scroller__content">
                        <div class="content-text">
                            {{ settings.seo_text|safe }}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% endblock %}
