{% extends "admin/filer/folder/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ul>
            <li><a href="{% url 'admin:index' %}" title="{% trans 'Go back to' %} {% trans 'admin homepage' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'admin:app_list' app_label='filer' %}" title="{% trans 'Go back to' %} {% trans 'Filer' %}"> {% trans "Filer" %}</a></li>
            <li><a href="{% url 'admin:filer-directory_listing-root' %}" title="{% trans 'Go back to' %} '{% trans 'root'|title %}' {% trans 'folder' %}">{% trans "root"|title %}</a></li>
            {% for ancestor_folder in original.get_ancestors %}
                <li><a href="{% url 'admin:filer-directory_listing' ancestor_folder.id %}" title="{% blocktrans with ancestor_folder.name as folder_name %}Go back to '{{ folder_name }}' folder{% endblocktrans %}">{{ ancestor_folder.name }}</a></li>
            {% endfor %}
            <li>{{ original.name }}</li>
        </ul>
    </div>
{% endblock %}
