{% extends "admin/filer/folder/directory_listing.html" %}
{% load i18n %}

{% block breadcrumbs %}
   {% if not is_popup %}
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'admin:index' %}" title="{% trans 'Go back to admin homepage' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'admin:app_list' app_label='filer' %}" title="{% trans 'Go back to Filer app' %}">{% trans "Filer" %}</a></li>
                {% if not instance.is_root and instance.is_smart_folder %}
                    <li><a href="{% url 'admin:filer-directory_listing-root' %}" title="{% trans 'Go back to root folder' %}">{% trans "root" %}</a></li>
                {% endif %}
                {% for ancestor_folder in instance.logical_path %}
                    <li><a href="{{ ancestor_folder.get_admin_directory_listing_url_path }}"
                        title="{% blocktrans with ancestor_folder.name as folder_name %}Go back to '{{ folder_name }}' folder{% endblocktrans %}">{% if ancestor_folder.label %}{{ ancestor_folder.label }}{% else %}{{ ancestor_folder.name }}{% endif %}</a></li>
                {% endfor %}
                {% if breadcrumbs_action %}
                    <li><a href="{{ instance.get_admin_directory_listing_url_path }}"
                        title="{% blocktrans with instance.name as folder_name %}Go back to '{{ folder_name }}' folder{% endblocktrans %}">{% if instance.label %}{{ instance.label }}{% else %}{{ instance.name }}{% endif %}</a></li>
                    {{ breadcrumbs_action }}
                {% else %}
                    {% if not instance.is_root and instance.is_smart_folder %}
                    {% endif %}
                    {% if instance.label %}
                        {{ instance.label }}
                    {% else %}
                        {{ instance.name }}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
