{% for item in cart.items %}
            <div class="order-table__row order-table__row_body">
                <a class="info" href="{{ item.product.get_absolute_url }}">
                    {% if item.product.thumbnail %}
                    <div class="img_wrapper">
                        <img src="{{ item.product.thumbnail.url }}" alt=""/>
                    </div>
                    {% else %}
                    <div class="img_wrapper no_photo">
                            <svg role="img" width="20" height="20">
                                <use xlink:href="/static/images/sprite.svg#no_photo"></use>
                            </svg>
                        </div>
                    {% endif %}
                    <span class="text">{{ item.product.title }}</span>
                </a>
                <form action="{% url 'cart-update' %}" method="POST">
                <div class="mobile-wrapper">
                {% if item.price  %}
                    {% if item.product.old_price %}
                    <div class="price sell_price">
                            <s>{{ item.product.old_price }} руб.</s>{{ item.price }} руб.
                        </div>
                    {% else %}
                    <div class="price">{{ item.price }} руб.
                    </div>
                    {% endif %}
                {% else %}
                    <div class="price no_price">Цена по запросу</div>
                {% endif %}
                    <input type="hidden" name="product-id" value="{{ item.product.id }}"/>
                    {% if item.color %}
                    <input type="hidden" name="product-color" value="{{ item.color.id }}"/>
                    {% endif %}
                    <div class="amount">
                        <div class="product-amount">
                            <div class="product-amount__button product-amount__button_minus">&#9668;</div>
                            <div class="product-amount__field">
                                <input class="change-count" type="number" name="product-count" min="1" max="{{ item.product.count }}" value="{{ item.count }}"/>
                            </div>
                            <div class="product-amount__button product-amount__button_plus">&#9658;</div>
                        </div>
                    </div>
                    {% if item.total %}
                    <div class="total-price"> 
                        <span class="hidden">Сумма: </span><span class="total-price-number"> {{ item.total }}</span> руб.
                    </div>
                    {% else %}
                    <div class="total-price no_price">Цена по запросу</div>
                    {% endif %}
                    <div class="delete-item"></div>
                </div>
                </form>
            </div>
            {% endfor %}