{% if cart.count %}
<div class="order-table">
    <div class="order-table__header">
        <div class="order-table__row">
            <div class="info">Ваш заказ</div>
            <div class="price">Цена</div>
            <div class="amount">Количество</div>
            <div class="total-price">Сумма</div>
            <div class="delete-item"></div>
        </div>
    </div>
    <div class="order-table__body">
            {% include "shop/includes/cart-items.html" %}
    </div>
    <div class="order-table__total">Итого: 
        <b>{{ cart.total }} руб.</b>
    </div>
</div>
{% endif %}