<div class="notification_block">
    <div class="wrapper_left">
        <div class="icon_wrapper">
            <svg class="gray" role="img" width="59" height="64"><use xlink:href="/static/images/sprite.svg#cart"></use></svg>
        </div>
        <div class="text"><b>Ваша корзина пуста</b><span>Для добавления товаров в корзину перейдите в каталог</span></div>
    </div><a class="button" href="{% url 'catalog' %}"><span class="theme_button">Перейти в каталог</span></a>
</div>