<div class="col-12">
<div class="notification_block">
    <div class="wrapper_left">
        <div class="icon_wrapper">
            <svg role="img" width="57" height="57"><use xlink:href="/static/images/sprite.svg#done_icon"></use></svg>
        </div>
        <div class="text">
            <b>Заказ №{{ order.id }} успешно оформлен</b>
            <span>Ожидайте звонка менеджера для подтверждения заказа</span>
        </div>
    </div>
</div>
</div>