
{% if filters.count %}
    <div class="col-12 col-xl-3 filterBlock">
            <a class="mobile_filters_trigger d-xl-none">Фильтры</a>
            <noindex>
                <div class="filters">
                    <form class="filtering" method="GET" action=""><a class="common_count" href="">
                        <input type="submit" id="text_count" value="Показать">
                        <span id="str_count_products_add">Показать {{ count }} товаров</span>
                        </a>
                        {% if filters.price_max %}
                        <div class="filter_block">
                            <a class="filter_block-header" href="#filter_block-price" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="filter_block-price">Цена</a>
                            <div class="filter_block-body collapse show" id="filter_block-price">
                                <div class="wrapper">
                                    <div class="range_slider_field">
                                        <div class="range_slider_inputs">
                                            <input class="min_price" name="price_min" type="number" value="{{ filters.price_min }}"/>
                                            <input class="max_price" name="price_max" type="number" value="{{ filters.price_max }}"/>
                                        </div><input type="text" id="price_range_slider_0" class="range_slider" data-type="double" data-min="{{ filters.price_min }}" data-max="{{ filters.price_max }}" data-from="{{filters.price_min}}" data-to="{{ filters.price_max }}" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% for group in filters.attributes %}
                        <div class="filter_block">
                            <a class="filter_block-header" href="#filter_block-{{ forloop.counter }}" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="filter_block-{{ forloop.counter }}">{{ group.group }}</a>
                            <div class="filter_block-body collapse show" id="filter_block-{{ forloop.counter }}">
                                <div class="wrapper">
                                    {% if not group.num_values %}
                                    <input class="search_field" type="text" placeholder="Поиск"/>
                                    <div class="scroll_content">
                                        {% for attribute in group.attributes %}
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="customCheck{{forloop.parentloop.counter}}{{forloop.counter}}" {% if not attribute.name in filtration_after %}disabled{% endif %} name="{{ attribute.name }}" {% if attribute.name in active.attributes %}checked="checked"{% endif %}/>
                                            <label class="custom-control-label" for="customCheck{{forloop.parentloop.counter}}{{forloop.counter}}">{{ attribute.title }}</label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    <div class="range_slider_field">
                                            <div class="range_slider_inputs">
                                                <input class="min_price" name="{{ group.num_values.min_value.name_input }}" type="text" value="{{ group.num_values.min_value.val }}"/>
                                                <input class="max_price" name="{{ group.num_values.max_value.name_input }}" type="text" value="{{ group.num_values.max_value.val }}"/>
                                            </div><input type="text" id="price_range_slider_{{forloop.parentloop.counter}}" class="range_slider" data-type="double" data-min="{{ group.num_values.min_value.val }}" data-max="{{ group.num_values.max_value.val }}" data-from="{{ group.num_values.min_value.val }}" data-to="{{ group.num_values.max_value.val }}" value="" />
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% if filters.colors %}
                        <div class="filter_block">
                            <a class="filter_block-header" href="#filter_block-4" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="filter_block-4">Фильтр выбора цвета</a>
                            <div class="filter_block-body collapse show" id="filter_block-4">
                                <div class="wrapper">
                                    <div class="scroll_content">
                                        {% for item in filters.colors %}
                                        <label class="color-checkbox" for="color-{{forloop.counter}}">
                                            <input type="checkbox" name="{{ item.name }}" id="color-{{forloop.counter}}" {% if item.name in active.colors %}checked{% endif %}/>
                                            <s class="new_checkbox" style="background-color: {{ item.hex_color }};">
                                                <svg role="img" width="10" height="8">
                                                    <use xlink:href="/static/images/sprite.svg#checkbox_arrow"></use>
                                                </svg>
                                            </s>
                                        </label>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if filters.hit or filters.sale or filters.new or filters.thumbnail %}
                        <div class="filter_block">
                            <a class="filter_block-header" href="#filter_block-5" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="filter_block-5">Дополнительно</a>
                            <div class="filter_block-body collapse show" id="filter_block-5">
                                    <div class="wrapper">
                                            <div class="scroll_content">
                                                {% if filters.hit %}
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" {% if not "hit" in filtration_after and not active.hit %}disabled{% endif %}  id="customCheckHit" name="hit" {% if active.hit %}checked{% endif %}/>
                                                    <label class="custom-control-label" for="customCheckHit">Хит</label>
                                                </div>
                                                {% endif %}
                                                {% if filters.sale %}
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" {% if not "sale"  in filtration_after and not active.sale %}disabled{% endif %} id="customCheckSale" name="sale" {% if active.sale %}checked{% endif %}/>
                                                    <label class="custom-control-label" for="customCheckSale">Акция</label>
                                                </div>
                                                {% endif %}
                                                {% if filters.new %}
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" {% if not "new"  in filtration_after and not active.new %}disabled{% endif %} id="customCheckNew" name="new" {% if active.new %}checked{% endif %}/>
                                                    <label class="custom-control-label" for="customCheckNew">Новинки</label>
                                                </div>
                                                {% endif %}
                                                {% if filters.thumbnail %}
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" {% if not "thumbnail"  in filtration_after and not active.thumbnail %}disabled{% endif %} id="customCheckThumb" name="thumbnail" {% if active.thumbnail %}checked{% endif %}/>
                                                    <label class="custom-control-label" for="customCheckThumb">Только с фото</label>
                                                </div>
                                                {% endif %}
                                                {% if filters.stock %}
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" {% if not "stock"  in filtration_after and not active.stock %}disabled{% endif %} id="customCheckThumb" name="stock" {% if active.stock %}checked{% endif %}/>
                                                    <label class="custom-control-label" for="customCheckThumb">В наличии</label>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="filter_footer">
                            <p class="result">Подобрано {{ count }} товара</p>
                            <div class="buttons">
                                <input class="btn btn-primary btn-sm" type="submit" value="Показать"/>
                                <input id="reset_filter" type="reset" value="Сбросить"/>
                            </div>
                        </div>
                    </form>

                </div>
            </noindex>
        </div>
{% endif %}