{% if not PAGIN.count_minus == 0 %}
{% if PAGIN.next %}
<button id="show_more" data-page="{{ PAGIN.next }}" class="btn btn-outline-primary load_content" type="button">Показать еще</button>
{% endif %}

<nav aria-label="Navigation">
        <ul class="pagination justify-content-center">
            {% if PAGIN.prev %}
            <li class="page-item">
                <a class="page-link" href="?page={{ PAGIN.prev }}" aria-label="Previous" data-page="{{ PAGIN.prev }}">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            {% endif %}
            {% if PAGIN.first %}
            <li class="page-item">
                <a class="page-link" href="?page={{ PAGIN.first }}" data-page="1">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            {% endif %}
            {% for p in PAGIN.pages %}
                {% if p == PAGIN.page %}
                    <li class="page-item active"><a class="page-link" data-page="{{ p }}" href="?page={{ p }}">{{ p }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" data-page="{{ p }}" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            {% if PAGIN.last %}
                <li class="page-item"><span><a class="page-link" href="#">...</a></span></li>
                <li class="page-item"><a class="page-link" href="?page={{ PAGIN.last }}" data-page="{{ PAGIN.last }}">{{ PAGIN.last }}</a></li>
            {% endif %}
            {% if PAGIN.next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ PAGIN.next }}" data-page="{{ PAGIN.next }}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

{% endif %}