{% load favorites %}


{% if product.count > 0 %}
    <form class="product-form" action="{% url 'cart-add' %}" method="POST">
        <input type="hidden" name="product-id" value="{{ product.id }}">
        {% if product.colors.all %}
            <input type="hidden" name="product-color" value="{{ product.first_color.id }}"/>
        {% endif %}
        <input type="hidden" name="product-count" value="1">

        <button class="card-button" type="submit">
            <svg class="card-button__icon" role="img"><use xlink:href="/static/images/sprite.svg#cart"></use></svg>
            <span class="card-button__text">Добавить в корзину</span>
        </button>
        <a class="card-button card-button_replacer" href="">
            <svg class="card-button__icon" role="img"><use xlink:href="/static/images/sprite.svg#cart"></use></svg>
            <span class="card-button__text">Перейти в корзину</span>
        </a>
    </form>
{% elif auth %}
    {% product_waiting product favorites as waiting %}
    {% if favorites_page %}
        {% if waiting %}
            <button class="card-button favorites-waiting-add" data-action="{% url 'favorites-add-waiting' %}" data-product="{{ product.id }}" type="button">
                <span class="card-button__text">Отписаться</span>
            </button>
            <button class="card-button card-button_replacer favorites-waiting-add" data-action="{% url 'favorites-add-waiting' %}" data-product="{{ product.id }}" type="button">
                <span class="card-button__text">Узнать о поступлении</span>
            </button>
        {% else %}
            <button class="card-button card-button_replacer favorites-waiting-add" data-action="{% url 'favorites-add-waiting' %}" data-product="{{ product.id }}" type="button">
                <span class="card-button__text">Отписаться</span>
            </button>
            <button class="card-button favorites-waiting-add" data-action="{% url 'favorites-add-waiting' %}" data-product="{{ product.id }}" type="button">
                <span class="card-button__text">Узнать о поступлении</span>
            </button>
        {% endif %}
    {% else %}
        {% if waiting %}
            <button class="card-button favorites-waiting-add" data-action="{% url 'favorites-add-waiting' %}" data-product="{{ product.id }}" type="button">
                <span class="card-button__text">Отписаться</span>
            </button>
            <button class="card-button card-button_replacer favorites-waiting-add" data-action="{% url 'favorites-add-waiting' %}" data-product="{{ product.id }}" type="button">
                <span class="card-button__text">Узнать о поступлении</span>
            </button>
        {% else %}
            <button class="card-button favorites-waiting-add" data-product="{{ product.id }}" data-action="{% url 'favorites-add-waiting' %}" type="button">
                <span class="card-button__text">Узнать о поступлении</span>
            </button>
            <a class="card-button card-button_replacer favorites-waiting" href="{% url 'account-waiting' %}">
                <span class="card-button__text">Перейти к листу ожидания</span>
            </a>
        {% endif %}
    {% endif %}
{% endif %}