<ul>
        {% if categorys %}
        <li>
            <a href="#">Категории</a>
            <ul>
                {% for c in categorys %}
                    <li>
                        <a href="{{ c.get_absolute_url }}">{{ c.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% if products %}
        <li>
            <a href="#">Товары</a>
            <ul>
                {% for p in products %}
                    <li>
                        <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul>