{% if name %}
<p><b>Имя:</b>{{ name }}</p>
{% endif %}
<p><b>Телефон:</b> {{ phone }}</p>
{% if email %}
<p><b>Email:</b> {{ email }}</p>
{% endif %}
{% if message %}
<p><b>Сообщение:</b> {{ message }}</p>
{% endif %}
